<form [formGroup]="createNetworkForm" class="form-horizontal form-label-left">
  <div class="col-sm-12 col-md-12 col-lg-12">
    <div class="form-group">
      <label for="name" class="col-form-label col-md-4 col-sm-4 col-xs-12">Location Name</label>
      <div class="col-md-8 col-sm-8 col-xs-12">
        <input name="name" class="form-control" type="text" formControlName="name" placeholder="Network Name" />
        <div *ngIf="createNetworkForm.get('name').touched">
          <div class="error" *ngIf="createNetworkForm.get('name').hasError('required')">Location Name is required.</div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-md-12 col-lg-12">
    <address-form-component (formReady)="addFormControl('address', $event)" (validAddress)="isValidAddress($event)" (coordinates)="grabCoordinates($event)"></address-form-component>
  </div>
</form>
