<form [formGroup]="createNetworkForm" class="form-horizontal form-label-left">

  <div class="form-group">
    <label for="name" class="control-label col-md-3 col-sm-3 col-xs-12">Location Name</label>
    <div class="inner-addon col-md-6 col-sm-6 col-xs-12">
      <span class="inner-addon-icon"><i class="fa fa-address-card"></i></span>
      <input name="name" class="form-control" type="text" formControlName="name" placeholder="Network Name" />
      <div *ngIf="createNetworkForm.get('name').touched">
        <div class="error" *ngIf="createNetworkForm.get('name').hasError('required')">Location Name is required.</div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-12 col-lg-12">
    <address-form-component (formReady)="addFormControl('address', $event)" (validAddress)="isValidAddress($event)"></address-form-component>
  </div>
</form>
