<div class="col-md-12">
	<div class="form-group sensor-actions">
		<div >
			<button type="button"
			class="btn btn-primary editBTN"
			(click)="onClickSensorNotify()" ><i class="fa fa-edit"></i> Sensor Reading Notification </button>
			<button type="button"
			class="btn btn-primary editBTN"
			(click)="onClickBatteryNotify()" ><i class="fa fa-edit"></i> Battery Notification </button>
			<button type="button"
			class="btn btn-primary editBTN"
			(click)="onClickInActivityNotify()" ><i class="fa fa-edit"></i> Inactivity Notification </button>
			<button type="button"
			class="btn btn-primary editBTN"
			(click)="onClickAdvanceNotify()" ><i class="fa fa-edit"></i> Advanced Notification </button>
		</div>
	</div>
</div>
<div class="row sensor-summary-info" *ngIf="isAvailable">
	<div class="col-md-2">
		<span>Type of Sensor Reading</span>
	</div>
	<div class="col-md-4">
		<div class="form-group ss-location">
			<select class="form-control" [(ngModel)]="selectSubNotifyType" (ngModelChange)="onChangeNotifictaion($event)">
				<option *ngFor="let not of subNotificationTypes" [ngValue]="not">
					{{not.value}}
				</option>
			</select>
		</div>
	</div>
</div>
<div>
	<table class="table table-striped">
	
	<tbody>
		<tr>
			<td> Name </td>
			<td>  <input type="text" class="form-control" name="filter_name" placeholder="Enter Name" ></td>
		</tr>
		<tr>
			<td> Id</td>
			<td>  <input type="text" class="form-control" name="filter_name" placeholder="Enter Id" ></td>
		</tr>
		<tr>
			<td> Code </td>
			<td>  <input type="text" class="form-control" name="filter_name" placeholder="Enter Code" ></td>
		</tr>
		
	
	</tbody>
</table>
</div>