<app-layout>
  <div class="container">   
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="loader" *ngIf="tileData.length == 0"></div> 
        <div *ngIf="loadedStatuses == true">       
        <div *ngFor="let i of tileData" class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12 business-tile">
          <app-tile [count]="i.count" [tileColorBy]="'status'" [tileContent]="i.title" (customClick)="tileClicked($event)" [tileColor]="i.status">
          </app-tile>
        </div>
        </div>
      </div>
    </div>
    <div class="row">
    <div *ngIf="loadedStatuses == true">    
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="col-md-6 col-sm-12 col-xs-12">
          <h3>Customers Locations</h3>
          <div class="x_panel">
            <div class="x_content">
              <app-map [markers]="mapData" *ngIf="mapData?.length > 0"></app-map>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12">
          <h3>Customers Financial</h3>
          <div class="col-xs-12" style="background-color: #ffffff;border:10px solid #E6E9ED">
            <div class="panel panel-default" style="margin-top:10px">
              <div class="panel-body">
                <div *ngFor="let i of tileData" class="col-xs-12" style="padding:5px">
                  <span style="font-weight:bold" class="col-xs-6" *ngIf="i.status != 'New'">{{i.title}}:</span>
                  <span class="col-xs-6" *ngIf="i.status != 'New'">{{i.amount | currency}}</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12" style="padding: 10px 0 10px 0; background-color: #ffffff;border:10px solid #E6E9ED">
            <canvas baseChart #baseChart="base-chart" [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType" [colors]="pieChartColors"
              [options]="pieChartOptions" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
            </canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</app-layout>