@import "../../../../styles/variables";

.header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: 70px;
  padding: 0 20px;
  background: $color-white;
  -webkit-box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.24);
  -moz-box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.24);
  box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.24);
}

.header-logo {
  display: inline-block;
  height: 100%;
  padding: 15px 0;

  img {
    height: 100%;
  }
}

.header-profileBarWrapper {
  float: right;
  height: 100%;
}

.header-languageSelectorWrapper {
  float: right;
  margin-top: 20px;
  margin-right: 20px;
}


.top_nav {
  .nav_menu {
    background: $color-emerson-darkBlue;
  }

  .nav.toggle {
    display: none;
    width: auto;
    padding: 0;

    @media (min-width: $phone-small) and (max-width: $tablet-large) {
      display: inline-block;
    }

    #menu_toggle {
      padding: 0 10px 10px 0;
      display: inline-block;
    }
  }

  .top_nav_logo {
    display: inline-block;
    padding: 5px 10px;
    float: left;

    img#logo {
      width: 120px;
    }
  }

  .nav {
    display: inline-block;

    li {
      display: inline-block;

      a {
        padding: 12px 15px 8px;
        cursor: pointer;

        &.icon-only {
          i {
            font-size: 20px;
            padding: 0;
          }
        }
      }
    }

    &.navbar-nav {
      margin: 0;
    }
  }

  .navbar-right {
    .user-profile {
      padding: 10px;
      // color: $color-white !important;

      &:hover {
        background: $color-emerson-brand-blue;
      }
    }

    .open {
      a.user-profile {
        background: $color-emerson-brand-blue;
      }
    }

    .lang-dd {
      padding: 10px;
    }
  }

  .navbar-left {
    i {
      font-size: 25px;
    }

    a{
      &:hover {
        cursor: pointer;
        background: $color-emerson-brand-blue;
      }
    }
  }

  .anonymous-profile {
    color:#ECF0F1;
    user-select: none;
    padding: 10px;
  }

}
