@import "../variables";

.alert {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  font-size: 0.85em;
  border: 0;
  max-width: none;
  margin-bottom: 0;

  h3 {
    font-size: 1.2em;
  }

  &.alert-danger {
    color: $colorUI-emerson-red;
    background: none;

    h3 {
      color: $colorUI-emerson-red;
    }
  }
}
