@import "./../variables";

.customer-info-container {
  height: 40px;
  margin-bottom: 10px;

  div {
    display: inline-block;
    padding-right: 10px;
    border-right: 1px solid $colorUI-emerson-black;

    &:last-child {
      padding-right: 0;
      border-right: none;
    }
  }

  .customer-info-left {
    color: $colorUI-emerson-black;

    @media (min-width: $phone-small) and (max-width: $tablet-large) {
      font-size: 0.85em;
      margin-bottom: 10px;
      width: 100%;
    }
  }

  .customer-label {
    display: inline-block;
    font-size: 1.2em;
    color: $colorUI-emerson-black;
    padding-right: 10px;
    border-right: 1px solid $colorUI-emerson-black;

    &:last-child {
      padding-right: 0;
      border-right: none;
    }

    .customer-value {
      color: $color-emerson-brand-blue;
    }
  }

  .customer-name {
    font-size: 1.5em;
    color: $colorUI-emerson-black;

    @media (min-width: $phone-small) and (max-width: $tablet-large) {
      font-size: 1.3em;
    }
  }

  .customer-address {
    font-size: 1.2em;
    color: $colorUI-emerson-black;

    @media (min-width: $phone-small) and (max-width: $tablet-large) {
      font-size: 1em;
    }
  }

  .customer-contact-name {

  }

  .customer-email {
    font-weight: normal;
  }

  .customer-phone {
    font-weight: normal;
  }

  .customer-amount {
    font-weight: normal;
  }

  .usr-lbl {
    font-weight: bold;
    padding: 5px 0;
  }
}
