@import "../variables";

.wizard_horizontal {
  ul.wizard_steps {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    margin: 20px 0 40px;
    padding-left: 0;

    li {
      a {
        color: $color-emerson-brand-blue;

        &:hover {
          text-decoration: none;
        }

        &:before {
          height: 2px;
          background: $color-emerson-brand-blue;
        }

        &.disabled {
          .step_no {
            background: $color-emerson-brand-blue;
            color: $colorGrey-emerson-lightGrey;
          }
        }

        .step_no {
          color: $color-emerson-brand-blue;
          background: $color-white;
          border: 2px solid $color-emerson-brand-blue;
        }

        .step_descr {
          color: $color-emerson-brand-blue;
        }
      }
    }
  }
}

