#map {
  height: 100%;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: "roboto_regular", "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
}


.nav-sm .container.body .right_col, .right_col {
  height: 100%;
}


/* ******************************** */
/* ul */
ul {
  &.bar_tabs {
    background: none;

    @media (min-width: $phone-small) and (max-width: $tablet-large) {
      font-size: 0.85em;
    }
  }
}
/* ******************************** */

/* ******************************** */
/* General Styles */
.top_tiles {
  display: flex;
  flex-wrap: wrap;
}

.dark-theme {
  color: $color-white;
  font-family: "roboto_light", "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
}

.circle {
  background: $color-grey;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  margin: 5px 10px 0px 0px;
  float: left;
}

.total-amount {
  color: $appTile-BG-lowBattery;
  font-weight: bold;
  font-size: 2em;
}

#disclaimer {
  font-family: "roboto_light", "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
  font-size: 1em;
}
/* ******************************** */



/* ******************************** */
.parent-container {
  margin: 4em 0;

  @media (min-width: $phone-small) and (max-width: $tablet-large) {
    margin: 1em 0;
  }
}
/* ******************************** */



/* ******************************** */
.pointer-style {
  cursor: pointer;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.text-align-left {
  text-align: left;
}

.align-left {
  align-items: left !important;
}

.gap-top { margin-top: 40px; }
.gap-right { margin-right: 40px; }
.gap-bottom { margin-bottom: 40px; }
.gap-left { margin-left: 40px; }


/* ******************************** */

/* ******************************** */
/* side-nav */
//.nav-sm .container.body .col-md-3.left_col {
//  min-height: 100%;
//  width: 70px;
//  padding: 0;
//  z-index: 9999;
//  position: absolute;
//}
/* ******************************** */


