@import "./../variables";

.graph-card {
  font-family: "roboto_bold", "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
  background-color: $color-body-bg;
  border-radius: $border-radius-medium;
  position: relative;
  padding: 20px;
  margin: 0;
  color: $color-white;
  height: 43rem;
}


.canvas.chartjs-render-monitor {
  font-family: "roboto_regular", "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
  color: $color-white;
}
