@import "./../variables";

.graph-card {
  position: relative;
  margin: 0;
  color: $color-white;
  height: 43rem;

  .btn {
    position: absolute;
    top: 30px;
    right: 0;
  }
}


.canvas.chartjs-render-monitor {
  //font-family: "roboto_regular", "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
  color: $colorUI-emerson-black;
}
