@import "./../variables";

.info-container {
  color: $colorUI-emerson-black;
  font-size: 1.2em;
  height: auto;
  margin-bottom: 10px;

  .info-label {
    color: $colorUI-emerson-black;
    display: inline-block;
    padding-right: 10px;
    border-right: 1px solid $colorUI-emerson-black;

    &:last-child {
      padding-right: 0;
      border-right: none;
    }

    a.info-value,
    .info-value {
      color: $color-emerson-brand-blue;
    }

    a[type="button"] {
      color: $colorUI-emerson-black;
    }
  }
}
