@import "../variables";

.modal {
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-dialog {
  //font-family: "roboto_regular", "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
  margin: 10% auto;

  .modal-header {
    .modal-title {
      //font-family: "roboto_thin", "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
      //line-height: 2.5;
      font-size: 1.5em;
    }
    .close {
      font-size: 1.5em;
      width: 50px;
      height: 2em;
      margin: 0;
      background: $colorGrey-emerson-vLightGrey;
      //border-radius: $border-radius-extraBig;

      span {
        display: inline-block;
        width: 50px;
      }
    }
  }
  .modal-body {
    //background: $color-grey-ultralight;
    max-height: 30em;
    overflow-y: auto;
  }
  .modal-footer {

  }
}
