@import "./../variables";

.network-card {
  background: url("./assets/images/Compass_Cropped_Right_White_Opacity3.svg") no-repeat top right;
  background-color: $color-body-bg;
  border-radius: $border-radius-medium;
  position: relative;
  padding: 20px;

  @media (min-width: $phone-small) and (max-width: $tablet-large) {
    margin: 0 10px;
    width: 96%;
  }

  .network-card-top {
    height: 10vh;

    @media (min-width: $phone-small) and (max-width: $tablet-large) {
      height: auto;
    }

    .network-name {
      font-family: "roboto_bold", "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
      // font-size: 3.125em;
      font-size: 3.5vw;
      color: $color-white;
      display: inline-block;
      position: absolute;
      top: 10px;
      width: 70%;
      word-break: break-all;
      line-height: 1em;

      @media (min-width: $phone-small) and (max-width: $tablet-large) {
        position: initial;
        font-size: 2em;
        width: 100%;
      }
    }

    .network-id {
      font-family: "roboto_regular", "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
      font-size: 1.875em;
      color: $color-white;
      display: inline-block;
      float: right;

      @media (min-width: $phone-small) and (max-width: $tablet-large) {
        float: none;
        font-size: 1.5em;
      }
    }
  }

  .network-card-bottom {
    height: 50px;

    @media (min-width: $phone-small) and (max-width: $tablet-large) {
      height: auto;
    }

    .gateway-count, .sensor-count {
      font-family: "roboto_thin", "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
      font-size: 1em;
      color: $color-white;
      display: inline-block;

      span {
        font-family: "roboto_bold", "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
        font-size: 3.125em;
        color: $color-counts-green;
      }
    }

    .gateway-count {
      position: absolute;
      bottom: 0;

      @media (min-width: $phone-small) and (max-width: $tablet-large) {
        position: initial;
      }
    }

    .sensor-count {
      position: absolute;
      bottom: 0;
      left: 40%;

      @media (min-width: $phone-small) and (max-width: $tablet-large) {
        position: initial;
      }
    }

    .network-button {
      position: absolute;
      bottom: 0;
      right: 0;
      display: inline-block;

      @media (min-width: $phone-small) and (max-width: $tablet-large) {
        position: initial;
      }

      .network-editBTN {
        border: none;
        background: none;
        background-color: transparent;
        color: $color-white;
        padding: 10px;
        margin-right: 15px;

        &:hover, &:focus, &:active {
          border: 0;
          box-shadow: none;
        }

        @media (min-width: $phone-small) and (max-width: $tablet-large) {
          margin-left: -10px;
          margin-bottom: -10px;
        }
      }
    }
  }
}

.graph-card {
  background-image: none;
  margin-top:10px;
  margin-bottom: 10px;
}
