/* ******************************** */
/*  Tabs  */
/* ******************************** */
.tabs {
  cursor: pointer;
}

.tab-content {
  .x_content {
    margin-top: 10px;
    width: auto;
    float: none;

    @media (min-width: $phone-small) and (max-width: $tablet-large) {
      font-size: 0.85em;
      float: none;
      width: auto;
    }
  }
}

.tabs_container {
  padding-bottom: 20px;
}

.tab-content {
  .tab-panel {
    background-color: $color-body-bg;
    border-radius: 20px;
    padding: 20px;
    margin-top: -5px;
  }

  &.light-theme {
    .tab-panel {
      background: none;
    }
  }
}
/* ******************************** */


/* ******************************** */
/*  Pills */
/* ******************************** */
ul.bar_tabs, ul.nav-tabs {
  height: auto;
  border: 0;
  padding-left: 20px;
  margin: 21px 0 7px;

  @media (min-width: $phone-small) and (max-width: $tablet-large) {
    padding-left: 0;
    margin-bottom: 7px;
  }

  li.tabs {
    border-radius: 20px;
    background: none;
    border: 0;
    margin: 0;
    margin-right: 5px;


    a {
      border-radius: 20px;
      border: 0;
      background-color: $color-grey-light;
      padding: 10px 25px;
    }

    &.active {
      a {
        background-color: $color-body-bg;
        color: $color-white;

        &:hover {
          border: 0;
        }
      }
    }

    @media (min-width: $phone-small) and (max-width: $tablet-large) {
      margin-bottom: 2px;
      width: 100%;
    }
  }
}
/* ******************************** */
