/* ******************************** */
/*  Tabs  */
/* ******************************** */
.tabs {
  cursor: pointer;
}

.tab-content {
  .x_content {
    margin-top: 10px;
    width: auto;
    float: none;

    @media (min-width: $phone-small) and (max-width: $tablet-large) {
      font-size: 0.85em;
      float: none;
      width: auto;
    }
  }
}

.tabs_container {
  padding-bottom: 20px;
}

.tab-content {
  .tab-panel {
    padding: 0;
    margin-top: 20px;
  }

  &.light-theme {
    .tab-panel {
      background: none;
      padding: 0;
    }
  }

  &.light-theme-padding-zero {
    .tab-panel {
      border: 2px solid $color-body-bg;
      background: $color-white;

      .ngx-datatable {
        border: none !important;
        border-radius: $border-radius-medium + 5px;
      }
      .ngx-datatable.bootstrap .datatable-footer {
        background: orange;
        border-right: $border-radius-big;
      }
    }
  }
}
/* ******************************** */


/* ******************************** */
/*  Pills */
/* ******************************** */
ul.bar_tabs, ul.nav-tabs {
  height: auto;
  border: 0;
  padding-left: 0;
  margin: 21px 0 7px;

  @media (min-width: $phone-small) and (max-width: $tablet-large) {
    padding-left: 0;
    margin-bottom: 7px;
  }

  li.tabs {
    background: none;
    border: 0;
    margin: 0;
    margin-right: 5px;

    a {
      border-radius: 4px;
      border: 0;
      background-color: $color-grey-light;
      padding: 10px 25px;
    }

    &.active {
      a {
        background-color: $color-emerson-brand-blue; // $color-body-bg;
        color: $color-white;

        &:hover {
          border: 0;
        }
      }
    }

    @media (min-width: $phone-small) and (max-width: $tablet-large) {
      margin-bottom: 2px;
      width: 100%;
    }
  }
}
/* ******************************** */
