.bg-pink {
  background-color: $appTile-BG-pink;
}

.bg-info {
  background-color: $appTile-BG-info;
}

.bg-lowBattery {
  background-color: $appTile-BG-lowBattery;
}

.bg-success {
  background-color: $appTile-BG-success;
}

.bg-warning {
  background-color: $appTile-BG-warning;
}
