.bg-pink {
  background-color: $colorBrand-emerson-red;
}

.bg-info {
  background-color: $colorBrand-emerson-blue-01;
}

.bg-lowBattery {
  background-color: $colorBrand-emerson-darkYellow;
}

.bg-success {
  background-color: $colorBrand-emerson-lightGreen-03;
}

.bg-warning {
  background-color: $colorBrand-emerson-grey;
}
