.bg-pink {
  background-color: $colorBrand-emerson-red; // $appTile-BG-pink;
}

.bg-info {
  background-color: $colorBrand-emerson-blue-01; // $appTile-BG-info;
}

.bg-lowBattery {
  background-color: $colorBrand-emerson-darkYellow; // $appTile-BG-lowBattery;
}

.bg-success {
  background-color: $colorBrand-emerson-lightGreen-03; // $appTile-BG-success;
}

.bg-warning {
  background-color: $colorBrand-emerson-grey; // $appTile-BG-warning;
}
