<div>
  <table class="table table-striped">
    <tbody *ngIf="deviceType === 'GATEWAY'">
      <tr >
        <td> Gateway Type </td>
        <td>
          <div class="form-group ss-location">
            <select class="form-control" [ngModel]="gatewayTypeObject[0]" (ngModelChange)="onChangeGatewayType($event)">
              <option *ngFor="let device of gatewayTypeObject" [ngValue]="device">
                {{device.name}}
              </option>
            </select>
          </div>
        </td>
      </tr>
     <!--  <tr >
        <td>Gateway Name </td>
        <td>
          <input type="text" class="form-control" name="filter_name" placeholder="Enter Name" [(ngModel)]="deviceModel.name">
        </td>
      </tr> -->
      <tr *ngIf = "this.deviceModel.gatewayTypeID === '2' || this.deviceModel.gatewayTypeID === '7'  ">
        <td> Gateway ID</td>
        <td>
          <input type="text" class="form-control" name="filter_name" placeholder="Enter Id" 
          tooltip="The Gateway ID can be found  on the back of the device."
          [(ngModel)]="deviceModel.gatewayID">
        </td>
      </tr>
      <tr *ngIf = "this.deviceModel.gatewayTypeID === '2' || this.deviceModel.gatewayTypeID === '7' ">
        <td> Gateway Code </td>
        <td>
          <input type="text" class="form-control" name="filter_name" placeholder="Enter Code" 
           tooltip="The Gateway code can be found  on the back of the device."
           [(ngModel)]="deviceModel.code">
        </td>
      </tr>
      <tr *ngIf = "this.deviceModel.gatewayTypeID === '-99'">
        <td> Serial Number </td>
        <td>
          <input type="text" class="form-control" name="filter_name" placeholder="Enter number" 
            tooltip="The Serial number can be found  on the back of the device."
            [(ngModel)]="deviceModel.serialNumber">
        </td>
      </tr>

      <tr *ngIf = "this.deviceModel.gatewayTypeID === '-99'">
        <td> Mac Address</td>
        <td>
          <input type="text" class="form-control" name="filter_name" placeholder="Enter mac address" 
            tooltip="The Mac Address can be found  on the back of the device."
            [(ngModel)]="deviceModel.macAddress">
        </td>
      </tr>
      <tr>
        <td>
          <label class="control-label col-form-label">Select Network Location:</label>

        </td>
        <td>
          <div class="form-group ss-location">
            <select class="form-control" [(ngModel)]="selectedNetwork">
              <option *ngFor="let loc of inputNetworkData" [ngValue]="loc">
                {{loc.Title}}
              </option>
            </select>
          </div>
        </td>
      </tr>
      <tr>
        <td></td>
        <td>
          <button type="button" class="btn btn-primary removeBTN" (click)="onClickCancelDetail()">
            <i class="fa fa-trash"></i> Cancel </button>
          <button type="button" class="btn btn-primary addBTN" (click)="onClickAddDetail()">
            <i class="fa fa-plus"></i> Add </button>
        </td>
      </tr>
	</tbody>

	<tbody *ngIf="deviceType === 'SENSOR'">
     
      <tr >
        <td> Sensor Name </td>
        <td>
          <input type="text" class="form-control" name="filter_name" placeholder="Enter Name" [(ngModel)]="deviceModel.name">
        </td>
      </tr>
      <tr>
        <td> Sensor ID</td>
        <td>
          <input type="text" class="form-control" name="filter_name" placeholder="Enter Id" 
          tooltip="The Sensor ID can be found on the barcode label located on the back of the sensor."
          [(ngModel)]="deviceModel.id">
        </td>
      </tr>
      <tr>
        <td> Sensor Code </td>
        <td>
          <input type="text" class="form-control" name="filter_name" placeholder="Enter Code" 
            tooltip="The Sensor Code can be on the barcode label located on the back of the sensor."
            [(ngModel)]="deviceModel.code">
        </td>
      </tr>
      <tr>
        <td>Min Threshold </td>
        <td>
          <input type="text" class="form-control" name="filter_name" placeholder="Enter Min Threshold" 
          tooltip="Enter Minimum Temperature Threshold"
          [(ngModel)]="deviceModel.minThreshold">

        </td>
      </tr>
      <tr>
        <td>Max Threshold </td>
        <td>
          <input type="text" class="form-control" name="filter_name" placeholder="Enter Max Threshold" 
           tooltip="Enter Maximum Temperature Threshold"
           [(ngModel)]="deviceModel.maxThreshold">
        </td>
      </tr>
       <tr>
        <td>Heartbeat </td>
        <td>
          <input type="text" class="form-control" name="filter_name" placeholder="Enter heart beat" [(ngModel)]="deviceModel.heartBeat">
        </td>
      </tr>
      
      <tr>
        <td>
          <label class="control-label col-form-label">Select Network Location:</label>

        </td>
        <td>
          <div class="form-group ss-location">
            <select class="form-control" [(ngModel)]="deviceModel.network">
              <option *ngFor="let loc of inputNetworkData" [ngValue]="loc">
                {{loc.Title}}
              </option>
            </select>
          </div>
        </td>
      </tr>
      <tr>
        <td></td>
        <td>
          <button type="button" class="btn btn-primary removeBTN" (click)="onClickCancelDetail()">
            <i class="fa fa-trash"></i> Cancel </button>
          <button type="button" class="btn btn-primary addBTN" (click)="onClickAddDetail()">
            <i class="fa fa-plus"></i> Add </button>
        </td>
      </tr>
	</tbody>
  </table>
</div>


<ng-template #tooltipTempate>
  <ul>
    <li>'Password' must be at least 8 characters long.</li>
    <li>Password should contain At least one special case characters.</li>
    <li>Password should contain At least one alphabet.</li>
    <li>Password should contain At least one numeric value.</li>
  </ul>
</ng-template>
