<app-alerts></app-alerts>
<div class="login_wrapper">
  <div class="form login_form">
    <section class="login_content">
      <form [formGroup]="myform" (ngSubmit)="onSubmit()">
        <img src="./assets/images/CooperAtkins_Logo.svg" alt="" class="login-logo">
        <h1 class="login-title">{{'login.componentHeading'|translate}}</h1>

        <div>
          <div class="alert alert-danger" *ngIf="myform.controls.username.invalid && !myform.controls.username.pristine">Invalid Username</div>
          <input type="text" class="form-control" formControlName="username" placeholder="{{'login.loginForm.username' | translate}}"/>
          <input type="password" class="form-control" formControlName="password" placeholder="{{'login.loginForm.password' | translate}}"/>
        </div>
        <div>
          <input type="submit" value="{{'login.loginForm.loginButton' | translate}}" class="btn btn-primary">
          <a class="reset_pass" href="#">Forgot Your Password?</a>
        </div>
        <div>
          <div class="clearfix"></div>
        </div>
      </form>
      <div class="separator">
        <button [routerLink]="['/user-register']" class="btn btn-default submit">{{'login.loginForm.newUser'| translate}}</button>
      </div>
    </section>
  </div>
</div>
