@import "../../../styles/variables";

.login_content {
  background: $color-white;
  border-radius: 0;
  box-shadow: none;

  form {
    input[type="text"],
    input[type="email"],
    input[type="password"] {
      box-shadow: none;
      border: 1px solid $colorBrand-emerson-grey;
    }
  }
}
