@import "../../../styles/variables";

.verifyEmail_container {
  max-width: 30em;

  .verifyEmailNotes-container {
    font-family: "roboto_thin", "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
    font-size: 1em;
    color: $color-white;
    text-align: left;

    a {
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.table{
  width: 50%;
  margin: 0 auto;
}

.white{
  background-color:white;
}

.tab-content .tab-panel {
  background: none !important;
}
