<div class="table">
	<h3>{{'userRegistration.title'|translate}}</h3>
	<div class="white">
		<p>{{'userRegistration.registrationMessage'|translate}}</p>
	</div>
	<form name="form" (ngSubmit)="onSubmit()">
		<div class="form-group" >
			<label for="email">{{'userRegistration.email'|translate}}</label>
			<input type="email" class="form-control" name="email" [(ngModel)]="userRegisterModel.email" required />
		</div>
		<div class="form-group">
			<input type="submit" value="Verify" class="btn btn-primary">
		</div>
	</form>
	<div class="white">
			<h3>{{'userRegistration.disclaimerTitle'|translate}}</h3>
			<p>{{'userRegistration.disclaimerMessage'|translate}}</p>
	</div>
	<div class="white">
		<h3>{{'userRegistration.hintTitle'|translate}}</h3>
		<p>{{'userRegistration.hintMessage'|translate}}</p>
	</div>
</div>
