@import "../../../styles/variables";

.onboarding_container {
  .verifyEmailNotes-container {
    font-family: "roboto_thin", "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
    font-size: 1em;
    color: $color-white;
    text-align: left;

    a {
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }

      .fa {
        padding-right: 10px;
      }
    }
  }
}

