<!--<app-alerts (close)="onClose()"></app-alerts>-->
<div class="login_wrapper onboarding_container">
  <div class="form login_form">
    <div class="loader" *ngIf="isLoader"></div>
    <section class="login_content">
      <div [formGroup]="passwordResetForm">
        <img src="./assets/images/CooperAtkins_Logo.svg" alt="" class="login-logo">
        <!--<h3>{{'userRegistration.title'|translate}}</h3> -->
        <div class="inner-addon">
                    <span class="inner-addon-icon">
                        <i class="fa fa-envelope"></i>
                    </span>
          <input type="email" class="form-control" formControlName="Email" placeholder="Email">
          <div *ngIf="Email.invalid && (Email.touched || Email.dirty)" class="alert-error alert-danger">
            <div *ngIf="Email.errors.required">
              Email is required.
            </div>
            <div *ngIf="Email.errors.email">
              Email is not valid.
            </div>
          </div>
        </div>

          <div class="m-t-md">
            <button (click)="resetPassword()" class="btn btn-default submit">Send Password</button>
          </div>
          <div>
            <button (click)="cancel()" class="btn btn-default submit">Cancel</button>
          </div>
        </div>

    </section>
  </div>
</div>
