@import "../../../../styles/variables";

.tile-container {
  display: flex;
  height: 100%;
}

.widget-panel {
  padding: 40px 20px 40px 15px;
  border-radius: $border-radius;
  color: #ffffff;
  position: relative;
  margin-bottom: 20px;
  cursor: pointer;
  min-height: 13.75rem;
  flex-grow: 1;

  @media (min-width: $phone-small) and (max-width: $tablet-large){
    padding: 10px;
    margin-bottom: 10px;
  }
}

.widget-style-2 {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 1em;

  @media (min-width: $phone-small) and (max-width: $tablet-large) {
    font-size: 0.75em;
    padding: 5px !important;
    margin-bottom: 5px;
    min-height: auto;
  }

  @media (min-width: 767px) {
    // padding-left: 30px;
  }

  @media (max-width: 767px) {
    padding: 30px;
    margin-bottom: 10px;
  }

  &.special {
    font-size: 18px;
  }

  i:not(.special) {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    font-size: 3em;
    text-align: center;
    padding: 40px 20px 40px 15px;
    color: $appTile-icons;
    background: $appTile-iconsBG;
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;

    @media (min-width: $phone-small) and (max-width: $tablet-large) {
      min-width: 3em;
      font-size: 2em;
      padding: 10px;
    }
  }

  .tile-details {
    width: 75%;
    font-size: 0.9em;

    @media (min-width: $phone-small) and (max-width: $tablet-large) {
      font-size: 1em;
    }

    .tile-counter {
      font-weight: 600;
      font-size: 1.5em;
      color: $colorGrey-emerson-vLightGrey;

      @media (min-width: $phone-small) and (max-width: $tablet-large) {
        font-size: 1.25em;
      }
    }

    .tile-fahrenHeight {
      font-weight: bold;

      @media (min-width: $laptop) {
        font-size: 1.15em;
      }
    }

    .tile-relativeHumidity {}

    .tile-content {}

    .tile-dateTime {
      font-size: 0.8em;
    }
  }
}



.m-0 {
  margin: 0px !important;
}
