@import "../../../../styles/variables";

$colors : red green yellow orange;

.tile-stats{
  @each $color in $colors{
    &.backColor-#{$color}{
      background-color:#{$color};
    }
  }
  .fahrenHeight{
    font-size: 67px;
  }

  .relativeHumidity{
    @extend .fahrenHeight;
    color: $color-red;
  }
  .title{
    font-size: 18px;
  }
}

.widget-style-2 {
  @media (min-width: 767px) {
    padding-left: 30px;
  }

  @media (max-width: 767px) {
    padding: 30px;
    margin-bottom: 10px;
  }

}

.widget-panel {
  padding: 40px 20px;
  border-radius: 4px;
  color: #ffffff;
  position: relative;
  margin-bottom: 20px;

  @media (min-width: $phone-small) and (max-width: $tablet-large){
    padding: 10px;
    margin-bottom: 10px;
  }
}

.bg-pink {
  background-color: $appTile-BG-pink;
}

.bg-info {
  background-color: $appTile-BG-info;
}

.bg-lowBattery {
  background-color: $appTile-BG-lowBattery;
}

.bg-success {
  background-color: $appTile-BG-success;
}

.bg-warning {
  background-color: $appTile-BG-warning;
}

.widget-style-2 {
  h2 {
    font-weight: 600;
    font-size: 1.75em;

    @media (min-width: $phone-small) and (max-width: $tablet-large) {
      font-size: 1.5em;
    }
  }

  i:not(.special) {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    font-size: 3em;
    text-align: center;
    padding: 40px 20px;
    color: $appTile-icons;
    background: $appTile-iconsBG;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;

    @media (min-width: $phone-small) and (max-width: $tablet-large) {
      min-width: 3em;
      font-size: 2em;
      padding: 10px;
    }
  }

  @media (min-width: $phone-small) and (max-width: $tablet-large) {
    font-size: 0.75em;
    padding: 5px;
    margin-bottom: 5px;
  }

  &.special {
    font-size: 18px;
  }
}

//.widget-style-2 h2 {
//  @media (min-width: 767px) {
//    font-size: 32px;
//  }
//  @media (max-width: 767px) {
//    font-size: 24px;
//  }
//}

.m-0 {
  margin: 0px !important;
}
