<app-layout>
  <div class="row">
    <!--<div *ngIf="loadedStatuses == true">
      <div *ngFor="let i of objectKeys(totalStatuses)" class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <app-tile
          [count]="totalStatuses[i].count > 0 ? totalStatuses[i].count : '0'"
          [tileColorBy]="'status'"
          [tileContent]="totalStatuses[i].title"
          [tileColor]="totalStatuses[i].status"
          (click)="showReports(totalStatuses[i])">
        </app-tile>
      </div>
    </div>-->
    <div class="col-md-12 col-sm-12 col-xs-12">
     <h3>HACCP Reports</h3> 
    </div>
    <div class="tabs_container">
      <tabs>
        <tab tabTitle="{{'haccp.reports.dailysummarytitle'|translate}}" class="tab-content">
          <app-dailysummary-report></app-dailysummary-report>
        </tab>
        <tab tabTitle="{{'haccp.reports.checklistreporttitle'|translate}}" class="tab-content">
          <app-checklist-report></app-checklist-report>
        </tab>
        <tab tabTitle="{{'haccp.reports.temperaturereporttitle'|translate}}" class="tab-content">
          <app-temp-report></app-temp-report>
        </tab>
      </tabs>
    </div>
  </div>
</app-layout>
