<div class="login_wrapper onboarding_container onboardingContainer_wide">

  <div class="form login_form">
    <section class="login_content">
      <img src="./assets/images/CooperAtkins_Logo.svg" alt="" class="login-logo">
      <user-flow-component [selected]="selectedStep">
      </user-flow-component>

      <div class="loader gap-top gap-bottom" *ngIf="!rows"></div>

      <div>
        <button class="btn btn-lg btn-success gap-bottom" (click)="addNetwork()">Add Location</button>
        <app-datatable class="editNetworkSetup-dataTable"
                       #dataTable
                       *ngIf="rows && rows.length > 0"
                       [rows]="rows"
                       [columns]="columns"
                       [limit]="limit">
        </app-datatable>
        <ng-template #editModal let-row="row" let-value="value">
          <a class="anchor-datatable editNetworkSetup-button" (click)="showAddressEditModal(row)" >{{value}} <span><i class="fa fa-edit"></i> Edit</span> </a>
        </ng-template>
      </div>

      <div class="clearfix"></div>

      <div class="row m-l-md gap-top">
        <div class="col-md-12">
          <button class="btn btn-default float-right m-l-md" (click)="goToProfile()">Continue</button>
        </div>
      </div>

    </section>
  </div>
</div>

<modal [isOpen]="showPopup" title="Add/Edit Location"
       (onClose)="modalClosed($event)">
  <button class="btn btn-default float-right m-l-md" (click)="copyAccountAddress()">Copy Account Address</button><br/>
  <form (ngSubmit)="onSubmit('add')" [formGroup]="networkFormSetup" class="form-horizontal form-label-left">
    <create-network (formReady)="addFormControl('createNetworkForm', $event)" (enableSubmit)="enableSubmit($event)" [formGroup]="networkFormSetup" (grabbedCoordinates)="capturedCoordinates($event)"></create-network>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="form-group float-right">
          <span class="error" *ngIf="disableSubmitButton">Enter Valid Address..</span>
          <input type="submit" value="Submit" [ngClass]="{'btn-disable':disableSubmitButton}" class="btn btn-primary m-l-none">
          <input type="reset" value="Cancel" class="btn btn-primary m-l-none">
        </div>
      </div>
    </div>
  </form>

</modal>
