<div class="login_wrapper onboarding_container">

  <div class="form login_form">
    <section class="login_content">
      <img src="./assets/images/CooperAtkins_Logo.svg" alt="" class="login-logo">
      <user-flow-component [selected]="selectedStep">

      </user-flow-component>



      <div>
        <div class="loader" *ngIf="rows.length == 0"></div>
        <button *ngIf="rows.length != 0" class="btn btn-success btn-lg" (click)="addNetwork()">Add Network</button>
        <app-datatable #dataTable
                       *ngIf="rows.length > 0"
                       [rows]="rows"
                       [columns]="columns"
                       [limit]="limit">
        </app-datatable>
        <ng-template #editModal let-row="row" let-value="value">
          <a class="anchor-datatable" (click)="showAddressEditModal(row)" >{{value}}<i class="fa fa-edit">Edit</i></a>
        </ng-template>

      </div>


    </section>
  </div>
</div>

<modal [isOpen]="showPopup" title="Add/Edit Network"
       (onClose)="modalClosed($event)">
  <form (ngSubmit)="onSubmit('add')" [formGroup]="networkFormSetup" class="form-horizontal form-label-left font-white">
    <create-network (formReady)="addFormControl('createNetworkForm', $event)" [formGroup]="networkFormSetup"></create-network>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="form-group float-right">
          <input type="submit" value="Submit" class="btn btn-primary m-l-none">
          <input type="reset" value="Cancel" class="btn btn-primary m-l-none">
        </div>
      </div>
    </div>
  </form>

</modal>

