@import "variables";

// ------> Select - Dropdown
select {
 padding: 6px 12px;

  @media (min-width: $phone-small) and (max-width: $tablet-large) {
    font-size: 0.85em;
  }
}


// ------> Button
.btn {
  background-color: $color-grey-verylight;
  border: 1px solid $color-grey-light;
  color: $color-grey-verydark;
  border-radius: 20px;
  padding: 6px 15px;

  i.fa {
    padding-right: 7px;
  }

  &:hover, &:focus, &:active {
    border: 1px solid $color-grey-light;
    background-color: $color-grey-light;
    transition: background-color 0.5s ease;
    -webkit-transition: background-color 0.5s ease;
    -moz-transition: background-color 0.5s ease;
    -o-transition: background-color 0.5s ease;
  }

  &.saveBTN {
    background-color: $color-saveBTN-green-rgb-1 + 50;
    border: 0;
    color: $color-white;

    &:hover, &:focus {
      background-color: $color-saveBTN-green-rgb-1;
      border: 0;
    }
  }

  &.editBTN {
    background-color: $color-generalBTN-blue-rgb-1 + 50;
    border: 0;
    color: $color-white;

    &:hover, &:focus {
      background-color: $color-generalBTN-blue-rgb-1;
      border: 0;
    }
  }

  &.removeBTN {
    background-color: $color-deleteBTN-red-rgb-1 + 50;
    border: 0;
    color: $color-white;

    &:hover, &:focus {
      background-color: $color-deleteBTN-red-rgb-1;
      border: 0;
    }
  }

  &.moveBTN {
    background-color: $color-generalBTN-blue-rgb-1 + 50;
    border: 0;
    color: $color-white;

    &:hover, &:focus {
      background-color: $color-generalBTN-blue-rgb-1;
      border: 0;
    }
  }

  &.addBTN {
    background-color: $color-saveBTN-green-rgb-1 + 50;
    border: 0;
    color: $color-white;

    &:hover, &:focus {
      background-color: $color-saveBTN-green-rgb-1;
      border: 0;
    }
  }
}

.payment-button {
  background: #26B99A;
  color : #fff;
}


// ------> Input - Radio
input[type=radio] {
  margin-right: 10px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  box-shadow: none;

  &[readonly="true"] {
    background: $color-grey-light;

    &:focus {
      background: $color-grey-light;
    }
  }
}


.inner-addon {
  position: relative;

  .inner-addon-icon {
    position: absolute;
    left: 0;
    padding: 5px 15px;
    pointer-events: none;
    z-index: 10;
    color: $color-grey-dark;
  }

  input {
    padding-left: 50px;
    width: 100%;
  }
}


.form-group {
  margin-bottom: 10px;
  text-align: left;

  .error {
    font-size: 0.85em;
    color: $color-redLight;
  }
}


