@import "variables";

// ------> Select - Dropdown
select {
 padding: 6px 12px;

  @media (min-width: $phone-small) and (max-width: $tablet-large) {
    font-size: 0.85em;
  }
}


// ------> Button
.btn {
  background-color: $color-emerson-brand-blue;
  border: none;
  color: $color-white;
  padding: 10px 12px;
  margin: 0 5px 0 0;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: none;
  width: auto;

  i.fa {
    padding-right: 7px;
  }

  a[type="button"] {
    color: $colorUI-emerson-black;
  }

  &:hover {
    background-color: $color-grey-light;
    transition: background-color 0.5s ease;
    -webkit-transition: background-color 0.5s ease;
    -moz-transition: background-color 0.5s ease;
    -o-transition: background-color 0.5s ease;
  }

  &:focus, &:active {
    background-color: $color-emerson-brand-blue;
    transition: background-color 0.5s ease;
    -webkit-transition: background-color 0.5s ease;
    -moz-transition: background-color 0.5s ease;
    -o-transition: background-color 0.5s ease;
  }

  &.icon-only {
    i {
      font-size: 20px;
      padding: 0;
    }
  }

  &.btn-light {
    background: $colorGrey-emerson-vLightGrey;
    color: $colorUI-emerson-black;
  }

  &.btn-transparent {
    background: transparent;
    color: $colorUI-emerson-black;
    padding: 5px;

    &:active {
      box-shadow: none;
    }
  }

  &.saveBTN {
    background-color: $color-saveBTN-green-rgb-1 + 50;
    border: 0;
    color: $color-white;

    &:hover, &:focus {
      background-color: $color-saveBTN-green-rgb-1;
      border: 0;
    }
  }

  &.editBTN {
    background-color: $color-generalBTN-blue-rgb-1 + 50;
    border: 0;
    color: $color-white;

    &:hover, &:focus {
      background-color: $color-generalBTN-blue-rgb-1;
      border: 0;
    }
  }

  &.removeBTN {
    background-color: $color-deleteBTN-red-rgb-1 + 50;
    border: 0;
    color: $color-white;

    &:hover, &:focus {
      background-color: $color-deleteBTN-red-rgb-1;
      border: 0;
    }
  }

  &.moveBTN {
    background-color: $color-generalBTN-blue-rgb-1 + 50;
    border: 0;
    color: $color-white;

    &:hover, &:focus {
      background-color: $color-generalBTN-blue-rgb-1;
      border: 0;
    }
  }

  &.addBTN {
    background-color: $color-saveBTN-green-rgb-1 + 50;
    border: 0;
    color: $color-white;

    &:hover, &:focus {
      background-color: $color-saveBTN-green-rgb-1;
      border: 0;
    }
  }

  @media (min-width: $phone-small) and (max-width: $tablet-small) {
    margin: 0 5px 5px 0;
  }
}

.payment-button {
  background: #26B99A;
  color : #fff;
}


// ------> Input - Radio
input[type=radio] {
  margin-right: 10px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  box-shadow: none;
  border-radius: 0;
  border: 1px solid $colorBrand-emerson-grey;

  &[readonly="true"] {
    background: $color-grey-light;

    &:focus {
      background: $color-grey-light;
    }
  }
}


.inner-addon {
  position: relative;

  .inner-addon-icon {
    position: absolute;
    left: 0;
    padding: 5px 15px;
    pointer-events: none;
    z-index: 10;
    color: $color-grey-dark;
  }

  input {
    padding-left: 50px;
    width: 100%;
  }
}


.form-group {
  margin-bottom: 10px;
  text-align: left;

  .error {
    font-size: 0.85em;
    color: $color-redLight;
  }

  label {
    color: $colorUI-emerson-black;

    &.col-form-label {
      font-weight: normal;
    }
  }
}

.btn-disable {
 cursor: not-allowed;
 pointer-events: none;

 /*Button disabled - CSS color class*/
 color: #c0c0c0;
 background-color: $color-white;
}

.inline-form {
  span.inline-form {
    width: auto;
    display: inline-block;
    margin: 10px 10px 10px 0;

    &.inline-form-50 {
      width: 50%;
    }

    &:last-child {
      margin: 0 10px 0 0;
    }
  }
}

.btn-group-checkbox {
  label {
    font-weight: normal;
    color: $colorUI-emerson-black;
    border-left: 1px solid $color-white;
    border-right: 1px solid $color-white;
    background: $colorGrey-emerson-lightGrey;

    &:hover {
      border-left: 1px solid white;
      border-right: 1px solid white;
      background: $colorGrey-emerson-grey;
    }

    &.active {
      background: $color-emerson-brand-blue;
    }

    &:first-child {
      border-left: none;
    }

    &:last-child {
      border-right: none;
    }
  }
}
