/* Colors definition */
$color-black: #000;
$color-white: #fff;
$color-grey-ultralight: #f9f9f9;
$color-grey-verylight: #ebebeb;
$color-grey-light: #ccc;
$color-grey: #869ba6;
$color-grey-dark: #6d6f70;
$color-grey-verydark: #333;
$color-red: #ee5a5a;
$color-redLight: #f57676;
$color-yellow: rgba(255, 204, 101, 1);
$color-emerson-brand-blue: #3474b5;

$color-body-bg-lt: #2a3F54 + 35;
$color-body-bg: #2a3F54;
$color-counts-green: #00A421;

$color-dataTable-hover: #545454;

/* Button Colors */
$color-generalBTN-blue: #117a8b;
$color-generalBTN-blue-rgb-025: rgba(17, 122, 139, 0.25);
$color-generalBTN-blue-rgb-1: rgba(17, 122, 139, 1);
$color-saveBTN-green: #28a745;
$color-saveBTN-green-rgb-025: rgba(40, 167, 69, 0.25);
$color-saveBTN-green-rgb-1: rgba(40, 167, 69, 1);
$color-deleteBTN-red: #dc3545;
$color-deleteBTN-red-rgb-025: rgba(220, 53, 69, 0.25);
$color-deleteBTN-red-rgb-1: rgba(220, 53, 69, 1);

/* Logo Colors */
$cooper-atkins-red-color: #cd1041;
$cooper-atkins-black-color: #231f20;
$haccp-blue-color: #3a6d8e;
$haccp-yellow-color: #ffe411;


/* Site specific */
$color-theme-black: #2f2f30;
$color-theme-grey: #DEE9EE;
$color-theme-blue: #87bcd3;
$color-theme-lightBlue: #def5ff;
$color-theme-violet: #353535;
$color-theme-darkviolet: #2a2a2a;

/* App-Tile colors */
$appTile-icons: #edf0f0;
$appTile-iconsBG: rgba(255,255,255,0.2);
$appTile-BG-pink: #d9534f;
$appTile-BG-info: #3498DB;
$appTile-BG-lowBattery: #f0ad4e;
$appTile-BG-success: #26B99A;
$appTile-BG-warning: #73879C;

$gateway-tile-BG-Blue: #4596FF;
$gateway-tile-DrkBG-Blue: #0049BA;

/* Emerson Colors Palette */
$color-emerson-vDarkBlue: #363f57;
$color-emerson-darkBlue: #004a8e;
$color-emerson-blue: $color-emerson-brand-blue;
$color-emerson-lightBlue: #81aeda;
$color-emerson-vLightBlue: #a0c4e7;
$color-emerson-darkYellow: #ff9c4c;

/* Emerson Brand Colors Palette */
$colorBrand-emerson-darkBlue: #004b8d;
$colorBrand-emerson-blue: #005e99;
$colorBrand-emerson-blue-01: #00afe9;
$colorBrand-emerson-blue-02: #0091d0;
$colorBrand-emerson-blue-03: #00a4d2;
$colorBrand-emerson-yellow: #ffcf22;
$colorBrand-emerson-darkYellow: #faa634;
$colorBrand-emerson-pink: #e30a7c;
$colorBrand-emerson-darkPink: #cb3282;
$colorBrand-emerson-grey: #9fa1a4;
$colorBrand-emerson-lightGreen: #c3d941;
$colorBrand-emerson-lightGreen-02: #a0cf67;
$colorBrand-emerson-lightGreen-03: #62bb46;
$colorBrand-emerson-darkGreen: #00aa7e;
$colorBrand-emerson-red: #d31245;
$colorBrand-emerson-purple: #6e298d;

/* Emerson UI Colors Palette */
$colorUI-emerson-lightBlue: #00afe9;
$colorUI-emerson-blue: #005e99;
$colorUI-emerson-green: #a0cf67;
$colorUI-emerson-purple: #6e298d;
$colorUI-emerson-red: #d31245;
$colorUI-emerson-black: $color-black;

/* Emerson Grey Colors Palette */
$colorGrey-emerson-black: #1f2d3d;
$colorGrey-emerson-grey: #8492a6;
$colorGrey-emerson-lightGrey: #d3dce6;
$colorGrey-emerson-vLightGrey: #eff2f7;

/* Striped table colors */
$color-table-striped-th: $colorGrey-emerson-vLightGrey;
$color-table-striped-tr: $colorGrey-emerson-vLightGrey;

/* App Gauge Colors */
$gauge-BG: rgba(75, 87, 100, 0.15);
$gauge-chart-forgroundColor: $color-yellow;
$gauge-chart-backgroundColor: rgba(75, 87, 100, 1);


$body-max-width: 1440px;

$border-radius: 4px;
$border-radius-medium: 10px;
$border-radius-big: 20px;
$border-radius-extraBig: 40px;

/* Media Queries Mobile */
$phone-small: 320px;
$phone-medium: 480px;
$phone-large: 640px;

/* Media Queries Tablet */
$tablet-small: 768px;
$tablet-large: 992px;
$tablet-xLarge: 1024px;

/* Media Queries Desktop */
$laptop: 1224px;
$wide-screen: 1440px;
