/* Colors definition */
$color-black: #000;
$color-white: #fff;
$color-grey-ultralight: #f9f9f9;
$color-grey-verylight: #ebebeb;
$color-grey-light: #ccc;
$color-grey: #869ba6;
$color-grey-dark: #6d6f70;
$color-grey-verydark: #333;
$color-red: #ee5a5a;
$color-redLight: #f57676;

/* Site specific */
$color-theme-black: #2f2f30;
$color-theme-grey: #DEE9EE;
$color-theme-blue: #87bcd3;
$color-theme-lightBlue: #def5ff;
$color-theme-violet: #353535;
$color-theme-darkviolet: #2a2a2a;

/* App-Tile colors */
$appTile-icons: #edf0f0;
$appTile-iconsBG: rgba(255,255,255,0.2);
$appTile-BG-pink: #d9534f;
$appTile-BG-info: #3498DB;
$appTile-BG-lowBattery: #f0ad4e;
$appTile-BG-success: #26B99A;
$appTile-BG-warning: #73879C;

$gateway-tile-BG-Blue: #4596FF;
$gateway-tile-DrkBG-Blue: #0049BA;

$border-radius: 4px;

/* Media Queries Mobile */
$phone-small: 320px;
$phone-medium: 480px;
$phone-large: 640px;

/* Media Queries Tablet */
$tablet-small: 768px;
$tablet-large: 992px;

/* Media Queries Desktop */
$laptop: 1224px;
$wide-screen: 1440px;
