<app-layout>
  <h3>Sensor Details Page</h3>
  <select name="sort" [(ngModel)]="orderBy" (change)="doSort()">
    <option value="asc">Higest Priority</option>
    <option value="desc">Lowest Priority</option>
  </select>
  <div class="row top_tiles">
    <div *ngFor="let i of mapData.Location.Network.Gateway" class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <div *ngFor="let sensor of i.Sensor | orderBy: sensor : orderBy">
        <app-tile
        [count]=1
        [tileContent]="sensor.SensorName"
        [tileDetails]="{fahrenHeight:sensor.CurrentReading}"
        [tileColor]="sensor.Status">
      </app-tile>
    </div>
  </div>
</div>
</app-layout>
