<app-layout>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h3><b>Location</b> : {{mapData.Location.Title}}</h3>
          <h4><b>Address</b> : {{mapData.Location.Address}}</h4>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">

          <form class="form-inline float-right" role="form">
            <div class="form-group">
              <select name="sort" [(ngModel)]="orderBy" (change)="doSort()" class="form-control">
                <option value="asc" selected>Higest Priority</option>
                <option value="desc">Lowest Priority</option>
              </select>
            </div>
            <div class="btn-group">
              <button class="btn btn-default" [ngClass]="{'active':gateway=='all'}" type="button" (click)="handleGatewayClick('all')">All</button>
              <button class="btn btn-default" [ngClass]="{'active': gateway===i}" type="button" *ngFor="let btn of mapData.Location.Network.Gateway; let i = index" (click)="handleGatewayClick(i)">{{btn.Name}}</button>
            </div>
            <div class="form-group">

            </div>
          </form>
        </div>
      </div>
      <div class="x_panel">
        <h3>Gateway Details</h3>
        <div class="row" *ngIf="gateway!=='all'">
          <table class="table table-bordered">
            <!--<tr>
              <td class="col-md-4">Gateway ID</td><td>{{mapData.Location.Network.Gateway[gateway].GatewayID}}</td>
            </tr>
            <tr>
              <td class="col-md-4">Network ID</td><td>{{mapData.Location.Network.Gateway[gateway].NetworkID}}</td>
            </tr>-->
            <tr>
              <td class="col-md-4">Gateway Name</td><td>{{mapData.Location.Network.Gateway[gateway].Name}}</td>
            </tr>
            <!--<tr>
              <td class="col-md-4">Gateway Type</td><td>{{mapData.Location.Network.Gateway[gateway].GatewayType}}</td>
            </tr>
            <tr>
              <td class="col-md-4">Last Communication Date</td><td>{{mapData.Location.Network.Gateway[gateway].LastCommunicationDate}}</td>
            </tr>-->
          </table>
        </div>
        <div class="row" *ngIf="gateway=='all'">
          <table class="table table-bordered" *ngFor="let aGateway of mapData.Location.Network.Gateway">
            <!--<tr>
              <td class="col-md-4">Gateway ID</td><td>{{aGateway.GatewayID}}</td>
            </tr>
            <tr>
              <td class="col-md-4">Network ID</td><td>{{aGateway.NetworkID}}</td>
            </tr>-->
            <tr>
              <td class="col-md-4">Gateway Name</td><td>{{aGateway.Name}}</td>
            </tr>
           <!-- <tr>
              <td class="col-md-4">Gateway Type</td><td>{{aGateway.GatewayType}}</td>
            </tr>
            <tr>
              <td class="col-md-4">Last Communication Date</td><td>{{aGateway.LastCommunicationDate}}</td>
            </tr>-->
          </table>
        </div>
      </div>
      <div class="x_panel">
        <div class="row top_tiles" *ngIf="gateway!=='all'">
          <div *ngFor="let sensor of mapData.Location.Network.Gateway[gateway].Sensor | orderBy: sensor : orderBy" class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <app-tile
            [tileContent]="sensor.SensorName"
            [tileDetails]="{fahrenHeight:sensor.CurrentReading}"
            [tileColorBy]="'sensorType'"
            [sensorTileIcon]="sensor.SensorType"
            [tileColor]="sensor.Status">
          </app-tile>
        </div>
      </div>
      <div class="row top_tiles" *ngIf="gateway=='all'">
        <div *ngFor="let sensor of allSensors | orderBy: sensor : orderBy" class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <app-tile
            [tileContent]="sensor.SensorName"
            [tileDetails]="{fahrenHeight:sensor.CurrentReading}"
            [tileColorBy]="'sensorType'"
            [sensorTileIcon]="sensor.SensorType"
            [tileColor]="sensor.Status">
          </app-tile>
        </div>
      </div>
    </div>
  </div>
</div>
</app-layout>
