<app-layout>
  <div class="row">
    <div class="col-md-8 col-sm-12 col-xs-12">
      <h3>Notifications List</h3>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">

      <div class="date-picker col-md-3 col-sm-12 col-xs-12 " style="position: relative;left: auto !important;">
          <!--Select Date Range-->
          <app-datepicker [(bsValue)]="bsRangeValue" [maxDate]="maxDate" [minDate]="minDate" (dateChange) = "dateChange($event)" (position)="'right'"></app-datepicker>
      </div>
      <div class="col-md-3 col-sm-12 col-xs-12">
        <!--Select Status-->
        <select name="filter_by_status" class="form-control"
                [(ngModel)]="doFilterByStatus"
                (ngModelChange)="filterByStatus()">
          <option value="All">All</option>
          <option value="Alerts" [selected]="doFilterByStatus =='Alerts'">Alerts</option>
          <option value="LowBattery" [selected]="doFilterByStatus =='LowBattery'">Low Battery</option>
          <option value="Inactivity" [selected]="doFilterByStatus =='Inactivity'">Offline</option>
          <option value="Advanced" [selected]="doFilterByStatus =='Advanced'">Advanced</option>
          <option value="LowSignal" [selected]="doFilterByStatus =='LowSignal'">LowSignal</option>
        </select>
      </div>
    </div>

    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="loader" *ngIf="!rows"></div>

      <div *ngIf="rows && rows.length == 0" class="col-md-8 col-sm-12 col-md-offset-2" style="padding-top: 30px;">
        <span class="alert alert-danger" role="alert">
          Unfortunately, There are no notifications at this point of time.
        </span>
      </div>

      <app-datatable #dataTable
                     *ngIf="rows && rows.length > 0"
                     [rows]="rows"
                     [columns]="columns"
                     [limit]="limit">
      </app-datatable>

      <ng-template #nDateColTmpl let-row="row" let-value="value">
        <span>{{value | date:'MM-dd-yyyy hh:mm:ss'}}</span>
      </ng-template>
      <ng-template #sTypeColTmpl let-row="row" let-value="value">
        <a class="anchor-datatable" (click)="showNotification(row)">{{value}}</a>
      </ng-template>
      <ng-template #deviceNameColTmpl let-row="row" let-value="value">
        <a *ngIf="row.deviceCategory === 'Sensor'" class="anchor-datatable"
           [routerLink]="['/dashboard/sensor-details/', row.deviceID]" routerLinkActive="active">{{value}}</a>
        <span *ngIf="row.deviceCategory !== 'Sensor'">{{value}}</span>
      </ng-template>

    </div>
  </div>
</app-layout>

<modal [isOpen]="showPopup" title="Contact Details"
       (onClose)="modalClosed($event)">
  <form>
    <label for="dName">Device Name : </label>
    <input class="form-control" type="text" id="dName" name="dName" value="{{modalMessage?.name}}" disabled/>

    <label for="email">Email Address : </label>
    <input class="form-control" type="text" id="email" name="email" value="{{modalMessage?.email}}" disabled/>
    <label for="sms">Phone Number : </label>
    <input class="form-control" type="text" id="sms" name="sms" value="{{modalMessage?.smsNumber}}" disabled/>
    <label for="text">Text: </label>
    <div [innerHTML]="modalMessage?.text">
    </div>
  </form>
</modal>
