
<app-layout>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_title col-md-11 col-sm-11 col-xs-12">
        <h3>Notifications List</h3>
        <div class="clearfix"></div>
      </div>
      <div class="col-md-1 col-sm-1 col-xs-12">
        <button class="btn btn-primary" (click)="goToPrevPage()"><i class="fa fa-chevron-left"></i> Back</button>
      </div>
      <!-- <pre>{{result|json}}</pre> -->
    </div>
    <div class="x_content">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <form class="form-horizontal form-label-left">

            <div class="col-md-4 col-sm-12 col-xs-12 form-group has-feedback">
              <select name="filter_by_status" class="form-control"
                      [(ngModel)]="doFilterByStatus"
                      (ngModelChange)="filterByStatus()">
                <option value="all">All</option>
                <option value="overdue" [selected]="doFilterByStatus =='overdue'">Overdue</option>
                <option value="new" [selected]="doFilterByStatus =='new'">New</option>
                <option value="renew" [selected]="doFilterByStatus =='renew'">Renew</option>
                <option value="due" [selected]="doFilterByStatus =='due'">Due</option>
              </select>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12 form-group has-feedback">

              <div class="input-group date">
                <input type="text"
                       class="form-control"
                       [minDate]="minDate"
                       [maxDate]="maxDate"
                       #dp="bsDatepicker"
                       (ngModelChange)="onChange($event)"
                       bsDatepicker [(ngModel)]="bsValue"/>
                <span class="input-group-addon" (click)="dp.toggle()"><i class="fa fa-calendar"></i></span>
              </div>



            </div>
            <div class="col-md-4 col-sm-12 col-xs-12 form-group has-feedback">
              <div class="input-group date">
                <input type="text"
                       class="form-control"
                       [minDate]="minDate"
                       [maxDate]="maxDate"
                       #dp1="bsDatepicker"
                       (ngModelChange)="onChangeToDp($event)"
                       bsDatepicker [(ngModel)]="bsValueTwo"/>
                <span class="input-group-addon" (click)="dp1.toggle()"><i class="fa fa-calendar"></i></span>
              </div>
            </div>

          </form>

        </div>
      </div>

      <div>
        <app-datatable #dataTable
                       [rows]="rows"
                       [columns]="columns"
                       [limit]="limit">
        </app-datatable>

      </div>
    </div>
  </div>
</app-layout>
