
<app-layout>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_title col-md-11 col-sm-11 col-xs-12">
        <h3>Notifications List</h3>
        <div class="clearfix"></div>
      </div>
      <div class="col-md-1 col-sm-1 col-xs-12">
        <button class="btn btn-primary" (click)="goToPrevPage()"><i class="fa fa-chevron-left"></i> Back</button>
      </div>
      <!-- <pre>{{result|json}}</pre> -->
    </div>
    <div class="x_content">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <!--<form class="form-horizontal form-label-left">-->

            <div class="col-md-4 col-sm-12 col-xs-12 form-group has-feedback">
              <select name="filter_by_status" class="form-control"
                      [(ngModel)]="doFilterByStatus"
                      (ngModelChange)="filterByStatus()">
                <option value="all">All</option>
                <option value="Alerts" [selected]="doFilterByStatus =='Alerts'">Alerts</option>
                <option value="LowBattery" [selected]="doFilterByStatus =='LowBattery'">Low Battery</option>
                <option value="Offline" [selected]="doFilterByStatus =='Offline'">Offline</option>
                <option value="Advanced" [selected]="doFilterByStatus =='Advanced'">Advanced</option>
              </select>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12 form-group has-feedback">

              <div class="input-group date">
                <input type="text"
                       class="form-control"
                       [minDate]="minDate"
                       [maxDate]="maxDate"
                       #dp="bsDatepicker"
                       (ngModelChange)="onChange($event)"
                       bsDatepicker [(ngModel)]="bsValue"/>
                <span class="input-group-addon" (click)="dp.toggle()"><i class="fa fa-calendar"></i></span>
              </div>



            </div>
            <div class="col-md-4 col-sm-12 col-xs-12 form-group has-feedback">
              <div class="input-group date">
                <input type="text"
                       class="form-control"
                       [minDate]="minDate"
                       [maxDate]="maxDate"
                       #dp1="bsDatepicker"
                       (ngModelChange)="onChangeToDp($event)"
                       bsDatepicker [(ngModel)]="bsValueTwo"/>
                <span class="input-group-addon" (click)="dp1.toggle()"><i class="fa fa-calendar"></i></span>
              </div>
            </div>

         <!-- </form>-->

        </div>
      </div>

      <div>
        <div class="loader" *ngIf="!rows"></div>
        <div *ngIf="rows && rows.length == 0" class="col-md-8 col-sm-12 col-md-offset-2">
          <span class="alert alert-danger font-white custom-alert" role="alert">
            Unfortunately, There is no notifications data at this point of time.
          </span>
        </div>
        <app-datatable #dataTable
                       *ngIf="rows && rows.length > 0"
                       [rows]="rows"
                       [columns]="columns"
                       [limit]="limit">
        </app-datatable>
        <ng-template #nDateColTmpl let-row="row" let-value="value">
          <span>{{value | date:'MM-dd-yyyy hh:mm:ss'}}</span>
        </ng-template>
        <ng-template #sTypeColTmpl let-row="row" let-value="value">
          <a class="anchor-datatable" (click)="showNotification(row)" >{{value}}</a>
        </ng-template>

      </div>
    </div>
  </div>
</app-layout>
<modal [isOpen]="showPopup" title="Contact Details"
       (onClose)="modalClosed($event)">
  <form>
  <label for="dName">Device Name : </label>
    <input class="form-control" type="text" id="dName" name="dName" value="{{modalMessage.name}}" disabled/>

  <label for="email">Email Address : </label>
    <input class="form-control" type="text" id="email" name="email" value="{{modalMessage.email}}" disabled/>
  <label for="sms">Phone Number : </label>
    <input class="form-control" type="text" id="sms" name="sms" value="{{modalMessage.smsNumber}}" disabled/>
  <label for="text">Text: </label>
    <div [innerHTML]="modalMessage.text">
    </div>
  </form>
</modal>
