<app-layout>
  <div class="row">
    <div class="col-md-10 col-sm-10 col-xs-12">
      <h3><i class="fa fa-globe"></i> Invoice</h3>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-12">
      <button class="btn btn-primary" (click)="goBack()"><i class="fa fa-chevron-left"></i> Back</button>
    </div>

    <div class="parent-container col-md-5 col-sm-12 col-xs-12">
      <div class="customer-info-container payment-card">
        <div class="customer-name">
          Name Here
          <!--{{customerData.name}}-->
        </div>
        <div class="customer-address"><!--{{customerData.address}}--> Address Here</div>
        <div class="customer-contact-name">
          <span class="usr-lbl">Contact Name:</span><!--{{customerData.contactName}}--> Contact Name Here
        </div>
        <div class="customer-email">
          <span class="usr-lbl">Email:</span>
          <a href="#"><!--{{customerData.contactEmail}}--> Contact Email Here</a>,
        </div>
        <div class="customer-phone">
          <span class="usr-lbl">Phone:</span>
          <a href="#">Contact Number here</a>
        </div>
      </div>
    </div>

    <div class="">
      <div class="">


        <div class="parent-container col-md-7 col-sm-12 col-xs-12">
          <h3> Renewal Information </h3>
          <div class="row">
            <div class="col-xs-12 table-responsive">
              <table class="table table-striped">
                <thead>
                <tr>
                  <th># of Sensors</th>
                  <th>Hosting Fee*</th>
                  <th>Total Annual Fee*</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>{{paymentData?.transactionInfo.numberOfSensor}}</td>
                  <td>See table below</td>
                  <td>${{paymentData?.transactionInfo.amount}}</td>
                </tr>
                <tr>
                  <td>Taxes</td>
                  <td></td>
                  <td>${{paymentData?.transactionInfo.tax}}</td>
                </tr>
                <tr>
                  <td><b>Total</b></td>
                  <td></td>
                  <td class="total-amount"><b>${{paymentData?.transactionInfo.amount}}</b></td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="col-md-12 col-sm-12 col-xs-12 gap-top">
      <form id="payment-form" class="payment-form" (ngSubmit)="routeToStripe()">

        <div class="row">
          <!-- accepted payments column -->
          <div class="col-md-5 col-sm-12 col-xs-12">
            <p class="lead">Payment Methods:</p>
            <img src="../../assets/images/visa.png" alt="Visa">
            <img src="../../assets/images/mastercard.png" alt="Mastercard">
            <img src="../../assets/images/american-express.png" alt="American Express">
            <!--<img src="../../assets/images/paypal.png" alt="Paypal">-->
            <p class="text-muted well well-sm no-shadow" style="margin-top: 10px;">
              Etsy doostang zoodles disqus groupon greplin oooj voxy zoodles, weebly ning heekya handango imeem
              plugg dopplr jibjab, movity jajah plickers sifteo edmodo ifttt zimbra.
            </p>
          </div>
          <!-- /.col -->
          <div class="col-md-7 col-sm-12 col-xs-12">
            <p class="lead">Hosting Fee</p>
            <div class="table-responsive">
              <table class="table">
                <thead>
                <tr>
                  <th># of Sensors</th>
                  <th>Annual Fee*</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>1-24</td>
                  <td>$100.00</td>
                </tr>
                <tr>
                  <td>25-49</td>
                  <td>$150.00</td>
                </tr>
                <tr>
                  <td>50-74</td>
                  <td>$200.00</td>
                </tr>
                <tr>
                  <td>75-99</td>
                  <td>$225</td>
                </tr>
                <tr>
                  <td>
                    100+
                  </td>
                  <td>
                    Contact Factory
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <p>* Annual fee is subject to change based on number of handhelds.</p>
          </div>
        </div>

        <div id="disclaimer" class="gap-top">
          <p><b>The execution of this software service agreement by Customer shall constitute Customer's acceptance of the terms and conditions of this agreement.</b></p>

          <input type="checkbox" id="agreement" name='acknowledgement' [(ngModel)]="acknowledgement"/>
          <label for="agreement" style="font-weight: normal">
            I acknowledge that I have read and agree to the Terms and Conditions
          </label>
        </div>

        <div class="row no-print">
          <div class="col-md-12 col-sm-12">
            <button type="submit" class="btn btn-lg payment-button pull-right" [(disabled)]="!acknowledgement">
              <i class="fa fa-credit-card"></i> Submit Payment
            </button>
          </div>

        </div>
      </form>
    </div>

  </div>
</app-layout>
