<app-layout>
  <div class="row">
    <div  class="col-md-12">
      <div class="x_panel">
        <div class="x_content">
          <div class="row sensor-summary-info m-b-sm">
            <div class="col-md-12 invoice-header">
              <h3><i class="fa fa-globe"></i> Invoice</h3>

              <button class="btn btn-primary" (click)="goBack()">
                <i class="fa fa-chevron-left"></i> Back</button>
            </div>

            <div *ngIf="paymentDataError">
              <div>
                <span class="alert alert-danger col-md-offset-1 col-md-8 col-sm-12 mt1-2x font-white" role="alert">
                  Unfortunately, we cannot present your Payment Data at this point of time. Please try again later
                </span>
              </div>
            </div>
            <div *ngIf="!paymentDataError">
              <div class="ss-info-container  font-white">
                <div class="col-sm-12 network-card">
                  <div class="customer-name">
                    Customer Name : {{paymentData?.transactionInfo.accountName}}
                  </div>
                  <div class="customer-address">
                    Address : {{paymentData?.transactionInfo.address}}
                  </div>
                  <div class="customer-contact-name">
                    <span class="usr-lbl">Contact Name:</span> {{paymentData?.transactionInfo.primaryUserName}}</div>
                  <div class="customer-email">
                    <span class="usr-lbl">Email:</span>
                    <span>{{paymentData?.transactionInfo.email}}</span>
                  </div>
                  <div class="customer-phone">
                    <span>Phone:</span>
                    <span>{{paymentData?.transactionInfo.phone}}</span>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <form *ngIf="!paymentDataError" id="payment-form" class="payment-form" (ngSubmit)="confirmPayment()">

            <!--<h4> Renewal Information </h4>-->
            <div class="row">
              <div class="col-xs-12 table">
                <table class="table table-striped">
                  <thead>
                  <tr>
                    <th># of Sensors</th>
                    <th>Hosting Fee*</th>
                    <th>Total Annual Fee*</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>{{paymentData?.transactionInfo.numberOfSensor}}</td>
                    <td>See table below</td>
                    <td>${{paymentData?.transactionInfo.amount}}</td>
                  </tr>
                  <tr>
                    <td>Taxes</td>
                    <td></td>
                    <td>${{paymentData?.transactionInfo.tax}}</td>
                  </tr>
                  <tr>
                    <td><b>Total</b></td>
                    <td></td>
                    <td><b>${{paymentData?.transactionInfo.total}}</b></td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>


            <div class="clearfix"></div>

            <div class="row">
              <!-- accepted payments column -->
              <div class="col-md-6 col-xs-12">
                <p class="lead">Payment Methods:</p>
                <img src="../../assets/images/visa.png" alt="Visa">
                <img src="../../assets/images/mastercard.png" alt="Mastercard">
                <img src="../../assets/images/american-express.png" alt="American Express">
                <!--<img src="../../assets/images/paypal.png" alt="Paypal">-->
                <p class="text-muted well well-sm no-shadow" style="margin-top: 10px; padding-bottom: 20px;">
                  <app-stripe #stripe></app-stripe>
                </p>
              </div>
              <!-- /.col -->
              <div class="col-md-6 col-xs-12">
                <p class="lead">Hosting Fee</p>
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                    <tr>
                      <th># of Sensors</th>
                      <th>Annual Fee*</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td style="width:50%">1-24</td>
                      <td>$100.00</td>
                    </tr>
                    <tr>
                      <td>25-49</td>
                      <td>$150.00</td>
                    </tr>
                    <tr>
                      <td>50-74</td>
                      <td>$200.00</td>
                    </tr>
                    <tr>
                      <td>75-99</td>
                      <td>$225</td>
                    </tr>
                    <tr>
                      <td>
                        100+
                      </td>
                      <td>
                        Contact Factory
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <!-- /.col -->
            </div>
            <div class="row">
              <div class="col-lg-6 col-md-6">

              </div>
              <div class="col-lg-6 col-md-6 float-right">
                <p>* Annual fee is subject to change based on number of handhelds.</p>
              </div>
            </div>

            <div class="row no-print">
              <div class="col-lg-12 col-md-12 col-sm-12">
                <button type="submit" class="btn payment-button pull-right" [(disabled)]="loading">
                  <i class="fa fa-credit-card"></i>Submit Payment
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <app-payment-success
    #paymentModal
    [isOpen]="showConfirmation"
    [renewalError]="renewalError"
    [newRenewalDate]="newRenewalDate"
    [loading]="loading"
    title="Payment Confirmation">
  </app-payment-success>
</app-layout>
