<app-layout>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="row customer-summary-info">
        <div class="col-md-12">
          <h3>Customer Details</h3>
        </div>
        <div class="ss-info-container">
          <div class="col-md-6 ss-info-left">
            <div class="ss-info-location">Boston Pizza Regent</div>
            <div class="ss-info-address">567</div>
          </div>
          <div class="col-md-6 network-card">
            <div class="network-card-top">
              <div class="network-name">444</div>
              <div class="network-id">555</div>
            </div>
            <div class="network-card-bottom">
              <div class="gateway-count">Gateways
                <span>333</span>
              </div>
              <div class="sensor-count">Sensor
                <span>99</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-layout>