<div class="row">
  <div class="col-md-12">
    <form id="payment-form" class="payment-form" (ngSubmit)="getToken()">
      <div class="col-md-12 table-panel dark-theme" style="margin-top: 20px; padding-bottom: 20px;">
        <div class="col-sm-offset-1 col-sm-10 col-xs-12" style="display: flex; align-items: center; margin-bottom: 5px;">
          <div class="col-xs-2">
            <i class="fa fa-credit-card" style="font-size: 1.25em;"></i>
          </div>
          <div class="col-xs-10" style="font-size: 1.25em;">Credit Card Information</div>
        </div>
        <div id="card-element" class="card-element col-sm-offset-1 col-sm-10 col-xs-12">
          <!-- A Stripe Element will be inserted here. -->
        </div>
      </div>

     <!-- <div class="form-group form-submit col-xs-12" style="display:flex;">
        <button type="submit" class="btn btn-success" style="align-self: flex-end">Submit</button>
      </div>-->
    </form>
  </div>
</div>
