<div class="row">
  <div class="col-md-12">
    <div *ngIf="validationError" class="alert alert-warning">
      {{validationError}}
    </div>

    <form id="payment-form" class="payment-form" (ngSubmit)="getToken()">
      <div class="creditCard-container">
        <div class="ccTitle-container">
          <div class="cc-icon">
            <i class="fa fa-credit-card"></i>
          </div>
          <div class="cc-title">Credit Card Information</div>
        </div>
        <div id="card-element" class="card-element">
          <!-- A Stripe Element will be inserted here. -->
        </div>
      </div>
    </form>
  </div>
</div>
