<app-layout>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">

      <div class="row sensor-summary-info">
        <div class="col-md-8">
          <h3>Location Details</h3>
          <button class="btn btn-primary" (click)="goBack()">
            <i class="fa fa-chevron-left"></i> Back</button>
        </div>
        <div class="col-md-4">
          <div class="form-group ss-location">
            <select class="form-control" [(ngModel)]="selectLocation" (ngModelChange)="onChangeLocation($event)">
              <option *ngFor="let loc of locationData" [ngValue]="loc">
                {{loc.Title}}
              </option>
            </select>
          </div>
        </div>
        <div class="ss-info-container">
          <!-- <div class="col-md-6 ss-info-left">
            <div class="ss-info-location">{{mapData?.title}}</div>
            <div class="ss-info-address">{{mapData?.city}} {{mapData?.postalCode}} {{mapData?.country}}</div>
          </div> -->
          <div class="col-sm-12 network-card">
            <div class="network-card-top">
              <div class="network-name">{{selectLocation?.Title}}</div>
              <div class="network-id">{{mapData?.title}}</div>
            </div>
            <div class="network-card-bottom">
              <div class="gateway-count">Gateways
                <span>{{mapData?.noOfGateways}}</span>
              </div>
              <div class="sensor-count">Sensor
                <span>{{mapData?.noOfSensors}}</span>
              </div>
              <div class="network-button">
                <button type="button" class="btn btn-primary network-editBTN" (click)="onClickEditNetwork()" data-toggle="modal" data-target="#myNetworkModal"
                  value="Edit">
                  <i class="fa fa-edit"></i> Edit</button>
              </div>
            </div>
          </div>
          <div>
            <ng-container *ngTemplateOutlet="networkEditModal"></ng-container>
          </div>
        </div>
      </div>

      <div class="tabs_container">
        <tabs>

          <tab tabTitle="{{'sensorSummary.sensorsTitle'|translate}}" [isDisabled]="mapData?.noOfSensors === 0" class="tab-content">
            <div class="row x_content">
              <div class="col-md-12 sensors-info-container">
                <div class="form-group sensor-info-compare">
                  <input type="button" class="btn btn-primary" value="Compare Sensors" (click)="doCompare()">
                </div>
                <div class="sensors-info-filter">
                  <form class="form-inline" role="form">
                    <div class="form-group">
                      <input type="text" class="form-control" name="filter_name" placeholder="Filter By Sensor Name" (keyup)="filterName()" [(ngModel)]="doFilterByName">
                    </div>
                    <div class="form-group">
                      <select name="filter_by_type" [(ngModel)]="doFilterByType" class="form-control" (ngModelChange)="filterByType()">
                        <option value="temperature">Temperature</option>
                        <option value="humidity">Humidity</option>
                        <option value="contact">Contact</option>
                        <option value="select" selected>All</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <select name="filter_by_status" [(ngModel)]="doFilterByStatus" class="form-control" (ngModelChange)="filterStatus()">
                        <option value="good">Good</option>
                        <option value="low signal">Low Signal</option>
                        <option value="low battery">Low Battery</option>
                        <option value="missed communication">Missed Communication</option>
                        <option value="alerts">Alerts</option>
                        <option value="select" selected>All</option>
                      </select>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="row top_tiles" *ngIf="gateway!=='all'">
              <div *ngFor="let sensor of mapData.Location.Network.Gateway[gateway].Sensor | orderBy: sensor : orderBy | filterByCriteria: sensor:doFilterByName"
                class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <app-tile [tileContent]="sensor.SensorName" [tileDetails]="{fahrenHeight:sensor.currentReading}" [tileColorBy]="'sensorType'"
                  [sensorTileIcon]="sensor.sensorType? sensor.sensorType : 2" (click)="gotoSummary()" [tileColor]="sensor.status">
                </app-tile>
              </div>
            </div>
            <div class="row top_tiles" *ngIf="gateway=='all'">
              <div *ngFor="let sensor of allSensors | filterByCriteria: doFilterByName: doFilterByStatus: doFilterByType" class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <app-tile [tileContent]="sensor.sensorName" [tileDetails]="{fahrenHeight:sensor.currentReading,lastCommunicationDate:sensor.lastCommunicationDate}"
                  [tileColorBy]="'sensorType'" [sensorTileIcon]="sensor.sensorType" (click)="gotoSummary(sensor)" [tileColor]="sensor.status+''">
                </app-tile>
              </div>
            </div>
          </tab>
          <tab tabTitle="{{'sensorSummary.gatewaysTitle'|translate}}" [isDisabled]="mapData?.noOfGateways === 0" class="tab-content gateway-cards">
            <div class="row">
              <div class="col-md-12 gateway-all" *ngIf="mapData!==null">
                <div class="gateway-card bg-success" *ngFor="let aGateway of mapData.gateways">
                  <div class="top">
                    <div class="pair gateway-id">
                      <div class="key">Gateway ID</div>
                      <div class="value">{{aGateway.gatewayID}}</div>
                    </div>
                    <div class="pair gateway-date">
                      <div class="value">{{aGateway.lastCommunicationDate|date:'dd/mm/yyyy'}}</div>
                    </div>
                  </div>
                  <div class="middle">
                    <div class="pair gateway-icon">
                      <div class="icon">
                        <img src="./assets/images/gateway_icon.svg" alt="">
                      </div>
                    </div>
                  </div>
                  <div class="bottom">
                    <div class="pair gateway-name">
                      <div class="value">{{aGateway.name}}</div>
                    </div>
                    <div class="pair gateway-type">
                      <div class="key">Gateway Type</div>
                      <div class="value">{{aGateway.gatewayType}}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </tab>
          <tab tabTitle="{{'sensorSummary.deviceManagementTitle'|translate}}" class="tab-content device-management-container">
            <div class="row">
              <div class="col-md-4">
                <form action="" class="dark-theme">
                  <input type="radio" checked name="radioModel" (click)="onSelectSensorRadio()" value="sensor"> Sensor
                  <input type="radio" name="radioModel" (click)="onSelectGatewayRadio()" value="gateway"> Gateway
                </form>
              </div>

              <div class="col-md-8">
                <div class="form-group sensor-actions">
                  <div *ngIf="radioModel === 'sensor' || radioModel === 'gateway'">
                    <button type="button" class="btn btn-primary" value="{{editSaveModel}}" [ngClass]="(editSaveModel==='Save')?'saveBTN':'editBTN'"
                      (click)="onClickEditDetails()" [disabled]="disable.edit">
                      <i class="fa fa-edit"></i> {{editSaveModel}} </button>
                    <button type="button" class="btn btn-primary removeBTN" (click)="onClickRemoveDetails()" [disabled]="disable.remove">
                      <i class="fa fa-trash"></i> Remove </button>
                    <button type="button" class="btn btn-primary moveBTN" data-toggle="modal" data-target="#myModal" (click)="onClickMoveDetails()"
                      [disabled]="disable.move">
                      <i class="fa fa-arrows-alt"></i> Move </button>
                    <button type="button" class="btn btn-primary addBTN" (click)="onClickAddDetail()" [disabled]="disable.add">
                      <i class="fa fa-plus"></i> Add </button>

                    <button type="button" class="btn btn-primary removeBTN" (click)="onClickButtonReset()" [disabled]="disable.reset">
                      <i class="fa fa-history"></i> Reset </button>
                  </div>
                  <div *ngIf="selectedUserDataForOperation">
                    <ng-container *ngTemplateOutlet="gatewayEditModal"></ng-container>
                  </div>
                </div>
              </div>

              <div *ngIf="isSelectedToAddDevice">
                <div class="col-md-12 dark-theme">
                  <app-create-device [deviceType]="radioModel" [inputNetworkData]="locationData" [selectedNetwork]="selectLocation" (messageEvent)="receiveMessage($event)"
                    (messageCancelEvent)="receiveCancelMessage($event)">
                  </app-create-device>
                </div>
              </div>

              <div *ngIf="isSelectedToAddDevice === false">
                <div *ngIf="radioModel === 'gateway'">
                  <div class="col-md-12 dark-theme">
                    <ng-container *ngTemplateOutlet="gateWayDataTemplate"></ng-container>
                  </div>
                </div>

                <div *ngIf="radioModel === 'sensor'">
                  <div class="col-md-12 dark-theme">
                    <ng-container *ngTemplateOutlet="sensorDataTemplate"></ng-container>
                  </div>
                </div>
              </div>
            </div>
          </tab>
          <!--<tab tabTitle="Notifications" class="tab-content device-management-container">
            <app-notifications [allSensors]="allSensors" [gateWayData]="gateWayData">
              </app-notifications>
          </tab>-->
        </tabs>
      </div>
    </div>
  </div>
</app-layout>

<ng-template #gatewayEditModal>
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="myModalLabel">Move Gateway Details</h4>
        </div>
        <div class="modal-body">
          <ng-container *ngTemplateOutlet="gatewayModal"></ng-container>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary addBTN" data-dismiss="modal" (click)="onClickSaveMoveNetwork(selectedUserDataForOperation)">
            <i class="fa fa-plus"></i> Save changes </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #networkEditModal>
  <div class="modal fade" id="myNetworkModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="myModalLabel">Edit Network</h4>
        </div>
        <div class="modal-body">
          <ng-container *ngTemplateOutlet="networkModal"></ng-container>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary addBTN" data-dismiss="modal" (click)="onClickSaveNetworkDetail($event)">
            <i class="fa fa-plus"></i> Save changes </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #gatewayModal>
  <div class="form-group ss-location">
    <label class="control-label col-form-label">Select Network Location:</label>
    <select class="form-control" [ngModel]="selectLocation" (ngModelChange)="onChangeNetworkMove($event)">
      <option *ngFor="let loc of locationDataForMoveNetwork" [ngValue]="loc">
        {{loc.Title}}
      </option>
    </select>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th class="col-md-2"> Name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let aGateway of selectedUserDataForOperation">
        <td class="col-md-2" *ngIf="radioModel === 'gateway'">{{aGateway.name}}</td>
        <td class="col-md-2" *ngIf="radioModel === 'sensor'">{{aGateway.sensorName}}</td>
      </tr>
    </tbody>
  </table>
</ng-template>

<ng-template #networkModal>
  <table class="table table-striped">
    <tbody>
      <tr>
        <td> Network Name</td>
        <td>
          <input class="form-control" type="text" name="networkName" [(ngModel)]="editNetworkData.name">
        </td>
      </tr>
      <tr>
        <td>
          Send notifications for this Network
        </td>
        <td>
          <input type="checkbox" [(ngModel)]="editNetworkData.notifyAlert">
        </td>
      </tr>
      <tr>
        <td>
          Holding Network
        </td>
        <td>
          <input type="checkbox" [(ngModel)]="editNetworkData.holdNetwork">
        </td>
      </tr>
    </tbody>
  </table>
</ng-template>

<ng-template #gateWayDataTemplate>
  <table class="table table-striped">
    <thead>
      <tr>
        <th class="col-md-1">
          <div class="form-check">
            <input type="checkbox" name="allGateway" [(ngModel)]="isSelectedAll" (change)="onCheckAll($event)" />
          </div>
        </th>
        <th class="col-md-4">Gateway ID</th>

        <th class="col-md-7">Gateway Name</th>
    </thead>
    <tbody>
      <tr *ngFor="let aGateway of gateWayData">
        <td class="col-md-1">
          <input type="checkbox" [(ngModel)]="aGateway.checked" [name]="aGateway.gatewayID" (change)="onClickInlineCheckBox($event,aGateway)">
        </td>
        <td class="col-md-4">{{aGateway.gatewayID}}</td>
        <td class="col-md-11" *ngIf="aGateway.gateWayEditOption ==='display'">{{aGateway.name}}</td>
        <td *ngIf="aGateway.gateWayEditOption ==='edit'">
          <input class="form-control" type="text" name="gatewayName" value="{{aGateway.name}}" [(ngModel)]="aGateway.name">
        </td>
      </tr>
    </tbody>
  </table>
</ng-template>

<ng-template #sensorDataTemplate>

  <table class="table table-striped">
    <thead>
      <tr>
        <th class="col-md-1">
          <div class="form-check">
            <input type="checkbox" name="allSensor" [(ngModel)]="isSelectedAll" (change)="onCheckAll($event)" />
          </div>
        </th>
        <th class="col-md-6">Sensor Id</th>
        <th class="col-md-5">Sensor Name</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let sensor of allSensors">
        <td class="col-md-1">
          <input type="checkbox" [(ngModel)]="sensor.checked" [name]="sensor.sensorName" (change)="onClickInlineCheckBox($event,sensor)">
        </td>
        <td class="col-md-6">{{sensor.sensorID}}</td>
        <td class="col-md-5" *ngIf="sensor.gateWayEditOption ==='display'">{{sensor.sensorName}}</td>
        <td *ngIf="sensor.gateWayEditOption ==='edit'">
          <input class="form-control" type="text" name="sensorName" value="{{sensor.sensorName}}" [(ngModel)]="sensor.sensorName">
        </td>

      </tr>
    </tbody>
  </table>
</ng-template>
