@import "../../../styles/variables";


.float-right {
  float: right;
}

table {
  tr:first-child {
    td {
      border-top: none;
    }
  }
}

.sensor-summary-info {
  .ssCard-name {
    font-size: 1.5em;
    padding-right: 10px;
    display: inline-block;
    color: $colorUI-emerson-black;
    border-right: 1px solid $colorUI-emerson-black;

    @media (min-width: $phone-small) and (max-width: $tablet-large) {
      font-size: 1.3em;
    }
  }
  .ssCard-id {
    font-size: 1.2em;
    padding-right: 10px;
    color: $colorUI-emerson-black;
    border-right: 1px solid $colorUI-emerson-black;

    @media (min-width: $phone-small) and (max-width: $tablet-large) {
      font-size: 1em;
    }
  }

  .ssCard-count {
    font-size: 1.2em;
    padding: 0 10px;
    color: $colorUI-emerson-black;
    border-right: 1px solid $colorUI-emerson-black;

    .value {
      color: $color-emerson-brand-blue;
    }

    &:last-child {
      border-right: none;
      padding-right: 0;
    }
  }

  .ss-location {
    //margin-top: 10px;
    //margin-bottom: 50px;

    @media (min-width: $phone-small) and (max-width: $tablet-large) {
      font-size: 0.85em;
      margin-bottom: 30px;
    }
  }
}

.ss-info-container {
  .ss-info-left {
    color: $color-grey-verydark;

    .ss-info-location {
      font-family: "roboto_thin", "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
      font-size: 2.5em;
    }

    .ss-info-address {
      font-family: "roboto_thin", "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
      font-size: 1.25em;
    }

    @media (min-width: $phone-small) and (max-width: $tablet-large) {
      font-size: 0.85em;
      margin-bottom: 10px;
      width: 100%;
    }
  }
}

.sensors-info-container {
  .x_content {
     margin-bottom: 20px;

    @media (min-width: $phone-small) and (max-width: $tablet-large) {
      margin-bottom: 20px;
    }
  }

  .sensor-info-compare {
    display: inline-block;
  }

  .sensors-info-filter {
    float: right;
    form {
      text-align: right;
    }

    @media (min-width: $phone-small) and (max-width: $tablet-large) {
      float: none;
      margin-bottom: 10px;
    }
  }

  @media (min-width: $phone-small) and (max-width: $tablet-large) {
    float: none;
  }
}

.device-management-container {
  .sensor-actions {
    float: right;
  }
  input[type='radio'] {
    margin-right:20px;
    margin-left:20px;
  }
}
