<agm-map
[latitude]="markers.Location[0].Latitude|stringToNumber"
[longitude]="markers.Location[0].Longitude|stringToNumber"
[zoom]="5">
<agm-marker *ngFor="let i of markers.Location"
  [latitude]="i.Latitude|stringToNumber"
  [longitude]="i.Longitude|stringToNumber"
  (markerClick)="clickedMarker(i.status, i.Id)"
  [iconUrl]="mapService.getIcon(mapService.getPriorityCount(i))"
  [label]="{color:'#73879C',fontSize: '24px',fontWeight:'bold',text:i.Title+''}">
  <agm-info-window>
  <strong>InfoWindow content</strong>
</agm-info-window>
</agm-marker>
</agm-map>
