<div class="form_wizard wizard_horizontal">
  <ul class="wizard_steps anchor">
    <li>
      <a [ngClass]="{'disabled':selected == 1}">
        <span class="step_no">1</span>
        <span class="step_descr">
          User Registration
        </span>
      </a>
    </li>
    <li>
      <a [ngClass]="{'disabled':selected == 2}">
        <span class="step_no">2</span>
        <span class="step_descr">
          Account Registration
        </span>
      </a>
    </li>
    <li>
      <a [ngClass]="{'disabled':selected == 3}">
        <span class="step_no">3</span>
        <span class="step_descr">
          Network Registration
        </span>
      </a>
    </li>
  </ul>
</div>
