<app-layout>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
<div class="row sensor-summary-info">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <h3>{{'sensorDetails.sensorDetailsTitle' | translate}}</h3>
        </div>
  <div class="ss-info-container">
        <div class="col-md-3 col-sm-3 col-xs-12 ss-info-left">
          <app-gauge
            [type]="'semi'"
            [value]="'60'"
            [title]="sensorDetailsData?.sensorName"
          ></app-gauge>

          <p>
                <span>
              {{'sensorDetails.lastCheckin'|translate}}:
            </span>
            {{sensorDetailsData?.lastCommunicationDate|date:'dd/mm/yyyy'}}
          </p>
        </div>
        <div class="col-md-9 col-sm-9 col-xs-12 network-card graph-card dark-theme">
          <div class="demo-placeholder">
            <canvas
              baseChart
              #baseChart="base-chart"
              [chartType]="'line'"
              [datasets]="chartData"
              [labels]="chartLabels"
              [options]="chartOptions"
              [legend]="true">
            </canvas>
          </div>
        </div>
    </div>
    </div>
      <div class="clearfix"></div>
    <div class="row network-card graph-card dark-theme">
      <app-datatable
        *ngIf="rows[0]!=='N/A'"
        [rows]="rows"
        [columns]="columns"
        [limit]="limit">
      </app-datatable>
    </div>

    </div>
  </div>
</app-layout>
