@import "../../../styles/variables";

.chart-style {
  background-color: white;
}

.gauge-chart-container {
  margin-top: 20px;
}

.gauge-container {
  color: $colorUI-emerson-black;
  font-size: 0.85em;
  text-align: center;
  height: 43rem;

  ngx-gauge {
    margin-bottom: 20px;

    .reading-label {
      font-size: 0.7em;
    }

    .reading-affix {
      font-size: 1.5rem;
    }
  }

  .gauge-data {
    border-bottom: 1px solid $colorGrey-emerson-vLightGrey;
    padding-bottom: 10px;
  }
  .value {
    color: $color-emerson-brand-blue;
  }
}

.message-history-container {
  margin-top: 20px;
  margin-bottom: 20px;

  .pdfCsvButtons-container {
    margin-bottom: 10px;
  }
}
