<app-layout>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_title col-md-11 col-sm-11 col-xs-12">
        <h3>Customers List</h3>
        <div class="clearfix"></div>
      </div>
      <div class="col-md-1 col-sm-1 col-xs-12">
        <input type="button" value="Back" (click)="goToPrevPage()"/>
      </div>
      <!-- <pre>{{result|json}}</pre> -->
    </div>
    <div class="x_content">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="form-group col-md-4 col-sm-6 col-xs-12">
            <input type='text' [(ngModel)]="doSearchVal" class="col-md-12 col-sm-12 col-xs-12 form-control"  placeholder='Search Customer by Name' (keyup)='updateFilter($event)'
            />
          </div>
          <div class="form-group col-md-2 col-sm-4 col-xs-12">
            <select name="filter_by_status" class="form-control" 
            [(ngModel)]="doFilterByStatus"
            (ngModelChange)="filterByStatus()">
              <option value="all">All</option>
              <option value="overdue" [selected]="doFilterByStatus =='overdue'">Overdue</option>
              <option value="new" [selected]="doFilterByStatus =='new'">New</option>
              <option value="renew" [selected]="doFilterByStatus =='renew'">Renew</option>
              <option value="due" [selected]="doFilterByStatus =='due'">Due</option>
            </select>
          </div>
          <div class=" col-md-6 col-sm-12 col-xs-12">
              <label for="dateRange" class="col-sm-3 margin-top-ten">Date between:</label>
              <div class="col-xs-12 col-sm-4 col-md-4 input-group from-date">
                  <input type="text"
                         class="form-control"
                         [minDate]="minDate"
                         [maxDate]="maxDate"
                         #dp="bsDatepicker"
                         (ngModelChange)="onChange($event)"
                         bsDatepicker [(ngModel)]="bsValue"/>
                         <span class="input-group-addon" (click)="dp.toggle()"><i class="fa fa-calendar"></i></span>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 input-group">
                    <input type="text"
                           class="form-control"
                           [minDate]="minDate"
                           [maxDate]="maxDate"
                           #dp1="bsDatepicker"
                           (ngModelChange)="onChangeToDp($event)"
                            bsDatepicker [(ngModel)]="bsValueTwo"/>
                           <span class="input-group-addon" (click)="dp1.toggle()"><i class="fa fa-calendar"></i></span>
                  </div>
          </div>
      </div>
        <div class="col-md-push-8 col-md-4 col-sm-12 col-xs-12 form-group">
          <input type="button" class="btn btn-primary col-md-3 col-sm-4 col-xs-12" value="Print" (click)="print()" />
          <input type="button" class="btn btn-primary col-md-3 col-sm-4 col-xs-12" value="Export" (click)="exportAsCSV()"/>
          <input type="button" class="btn btn-primary col-md-3 col-sm-4 col-xs-12" value="Clear All" (click)="clearAll()"/>
        </div>
        </div>

        <div>
      <app-datatable #dataTable
       [rows]="rows"
       [columns]="columns"
       [limit]="limit">
      </app-datatable>
      <ng-template #statusColorTmpl let-row="row" let-value="value">
      <div class="square" *ngIf="value === 'Overdue'" style="background-color:#d9534f"></div>
      <div class="square" *ngIf="value === 'Due'" style="float: left; background-color: #f0ad4e"></div>
      <div class="square" *ngIf="value === 'New'" style="float: left;background-color: #3498DB"></div>
      <div class="square" *ngIf="value === 'Renew'" style="float: left; background-color: #26B99A"></div>
      <span>{{value}}</span>
      </ng-template>
      <ng-template #renewalColTmpl let-row="row" let-value="value">
        <span>{{value | date:'MM-dd-yyyy'}}</span>
      </ng-template>
      <ng-template #emailColTmpl let-row="row" let-value="value">
       <a href="mailto:{{value}}">{{value}}</a>
      </ng-template>
      <ng-template #phoneColTmpl let-row="row" let-value="value">
        <a href="tel:{{value}}">{{value}}</a>
      </ng-template>
      <ng-template #nameColTmpl let-row="row" let-value="value">
        <a class="anchor-datatable" [routerLink]="['/business/customer-details/', row.id, 'view']" routerLinkActive="active">{{value}}</a>
      </ng-template>
      <ng-template #amountColTmpl let-row="row" let-value="value">
        <span>{{value | currency}}</span>
      </ng-template>
      <ng-template #sensorsColTmpl let-row="row" let-value="value">
        <span class="sensor-cell">{{value}}</span>
      </ng-template>
    </div>
        </div>
        </div>
</app-layout>