<div class="left_col scroll-view">
  <div class="left_col scroll-view">
		<div class="navbar nav_title" style="border: 0;">
			<a href="index.html" class="site_title"><i class="fa fa-paw"></i> <span>CooperDashboard Alela!</span></a>
		</div>

		<div class="clearfix"></div>

		<!-- menu profile quick info -->
		<!--<div class="profile clearfix">
			<div class="profile_pic">
				<img src="assets/images/users/img.jpg" alt="..." class="img-circle profile_img">
			</div>
			<div class="profile_info">
				<span>Welcome,</span>
				<h2>{{userEmail}}</h2>
			</div>
		</div>-->
		<!-- /menu profile quick info -->

		<br>

		<!-- sidebar menu -->
		<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
			<div class="menu_section active">
				<h3>General</h3>
				<ul class="nav side-menu" style="">
					<li><a (click)="clicker($event)"><i class="fa fa-home"></i> Home</a></li>
					<li><a (click)="clicker($event)"><i class="fa fa-edit"></i> Forms</a></li>
				</ul>
			</div>
		</div>
		<!-- /sidebar menu -->
	</div>
	<!-- <a routerLink="/dashboard" routerLinkActive="current" class="current">
		<i class="fa products"></i> <span>Dash</span>
	</a> -->
</div>
