<app-layout>
  <div class="row">
    <div *ngIf="loadedStatuses == true">
      <div *ngFor="let i of objectKeys(totalStatuses)" class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <app-tile
          [count]="totalStatuses[i].count > 0 ? totalStatuses[i].count : '0'"
          [tileColorBy]="'status'"
          [tileContent]="totalStatuses[i].title"
          [tileColor]="totalStatuses[i].status"
          (click)="gotoNotificationList(totalStatuses[i])">
        </app-tile>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <h3>{{'dashboardMain.dashboardTitle'|translate}}</h3>
      <div class="loader" [hidden]="showList" *ngIf="mapData.length == 0"></div>
    </div>

    <div class="col-md-12 col-sm-12 col-xs-12" [hidden]="showMap">
      <table class="table table-striped">
        <thead>
        <tr>
          <th class="col-md-2"> Location Name</th>
          <th class="col-md-2"> Address</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let row of rows">
          <td class="col-md-2 pointer-style" (click)="onLocationSelect(row)">{{row.title}}</td>
          <td class="col-md-2">{{row.address}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</app-layout>
