<app-layout>
  <div class="row">
    <div *ngIf="loadedStatuses == true">
    <div *ngFor="let i of objectKeys(totalStatuses)" class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <app-tile
      [count]="totalStatuses[i].count > 0 ? totalStatuses[i].count : '0'"
      [tileColorBy]="'status'"
      [tileContent]="totalStatuses[i].title"
      [tileColor]="totalStatuses[i].status">
      </app-tile>
    </div>
  </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="col-md-10 col-sm-8 col-xs-12">
        <h3>{{'dashboardMain.dashboardTitle'|translate}}</h3>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-12">
        <div class="list-view">
          <a (click)="showListView()" [hidden]="showList"><i class="fa fa-list"></i> List View</a>
          <a (click)="showMapView()" [hidden]="showMap">Map</a>
        </div>
      </div>
      <div class="x_panel">
        <div class="x_content" [hidden]="showList">
          <div class="loader" *ngIf="mapData.length == 0"></div>
          <app-map [markers]="mapData" *ngIf="mapData.length > 0"></app-map>
        </div>
        <div class="x_content network-card" [hidden]="showMap">
          <app-datatable
            *ngIf="rows[0]!=='N/A'"
            [rows]="rows"
            [columns]="columns"
            (activate)='onUserEvent($event)'>
          </app-datatable>
        </div>
      </div>
    </div>
  </div>
</app-layout>
