<app-layout>
  <div class="row">
    <div *ngFor="let i of objectKeys(totalStatuses)" class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <app-tile
      [count]="totalStatuses[i].count"
      [tileColorBy]="'status'"
      [tileContent]="totalStatuses[i].title"
      [tileColor]="totalStatuses[i].status">
      </app-tile>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <h3>{{'dashboardMain.dashboardTitle'|translate}}</h3>

      <div class="x_panel">
        <div class="x_content">
          <div class="loader" *ngIf="mapData.length == 0"></div>
          <app-map [markers]="mapData" *ngIf="mapData.length > 0"></app-map>
        </div>
      </div>
    </div>
  </div>
</app-layout>
