<!--   <div class="row">
    	<app-notification-summary></app-notification-summary>
  </div>
 -->
<div class="row">


   <div class="col-md-4" *ngIf="notificationRadio === 'summary' || notificationRadio === 'addNotify'">
       <div class="form-group sensor-actions">
          <button *ngIf = "isAddButtonRequired" type="button"
             class="btn btn-primary addBTN"
             (click)="onClickAddNotification()" ><i class="fa fa-plus"></i> Add Notification</button>
          <button *ngIf = "isResetButtonRequired" type="button"
             class="btn btn-primary removeBTN"
             (click)="onClickResetNotification()" ><i class="fa fa-chevron-circle-left"></i>Reset Notification </button>
       </div>
    </div>

  <div *ngIf="notificationRadio === 'summary'">
       <div class="col-md-12">
           <app-notification-summary
           [sensorList] = "sensorList"
           [accountData] = "accountData"
           (editNotifyModeEvent) = "recieveEditNotifyValue($event)">
           </app-notification-summary>
       </div>
    </div>

    <div *ngIf="notificationRadio === 'addNotify'">
       <div class="col-md-12">
          <app-notification-create
          [sensorList] = "sensorList"
          [gatewayList] = "gatewayList"
          [editNotifyObject] = "editNotifyObject"
          (createMessageEvent)="receiveAddNotificationMessage($event)"
          [notifyOperationType] = "notifyOperationType"
          ></app-notification-create>
         </div>
    </div>
</div>
