
/* ****************************************
 * Imports
 * ****************************************/
@import "styles/custom";
@import "styles/daterangepicker";
@import "styles/green.css";
@import "styles/forms";

#map {
  height: 100%;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}


/* tabs, tab-content */
.tab-content {
  .x_content {
    margin-top: 10px;
  }
}
/* ******* */
