<app-layout>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h3>Sensor Comparison for Network: {{networkName}}</h3>
          <input type="button" value="Back" (click)="goBack()">
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
      <form class="form-horizontal" role="form">
        <div class="col-md-6 col-sm-6 col-xs-12 form-group">
          <select name="sort" [(ngModel)]="sensorName" class="form-control" (change)="test()">
            <option value="{{sensor.value}}" *ngFor='let sensor of sensorNames'>{{sensor.label}}</option>
          </select>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 form-group">
          <input type="button" class="btn btn-primary" value="Add Sensor" (click)="addSensor()"/>
          <input type="button" class="btn btn-primary" value="Print Chart" (click)="print()" />
          <input type="button" class="btn btn-primary" value="Reset Zoom" (click)="reset('zoom')" />
          <input type="button" class="btn btn-primary" value="Reset Chart" (click)="reset('chart')" />
        </div>
      </form>
      <div style="width: 100%;">
        <canvas
        baseChart
        #baseChart="base-chart"
        [chartType]="'line'"
        [datasets]="chartData"
        [labels]="chartLabels"
        [options]="chartOptions"
        *ngIf="chartData.length > 0"
        [legend]="true">
      </canvas>
    </div>
        </div>
      </div>
    </div>
  </div>
</app-layout>
