<app-layout>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <h3>{{'sensorComparison.comparisonTitle' | translate}}</h3>
      <div class="clearfix"></div>
    </div>

    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="loader" *ngIf="sensorNames.length == 0"></div>
    </div>


    <div class="col-md-6 col-sm-12 col-xs-12 sensor-compare" *ngIf="sensorNames.length > 0">

            <div class="col-md-6 col-sm-12 col-xs-12">
              {{'global.from'|translate}}
              <div class="input-group">
                <input type="text"
                       class="form-control"
                       [minDate]="minDate"
                       [maxDate]="maxDate"
                       #dp="bsDatepicker"
                       (bsValueChange)="onDateChange($event)"
                       bsDatepicker [(bsValue)]="bsValue">
                <span class="input-group-addon" (click)="dp.show() ">
                  <i class="fa fa-calendar" aria-hidden="true"></i>
                </span>
              </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
              {{'global.to'|translate}}
              <div class="input-group">
                <input type="text"
                       class="form-control"
                       [minDate]="minDate"
                       [maxDate]="maxDate"
                       #dp1="bsDatepicker"
                       (bsValueChange)="onDateChange($event)"
                       bsDatepicker [(bsValue)]="bsValueTwo">
                <span class="input-group-addon" (click)="dp1.show() ">
                  <i class="fa fa-calendar" aria-hidden="true"></i>
                </span>
              </div>
            </div>

            <!--<div class="col-xs-12 col-sm-12 col-lg-3 col-md-3" *ngIf="sensorNames.length > 0">
              <div class="form-group">
                <div class="input-group">
                  <input type="text"
                         class="form-control"
                         [minDate]="minDate"
                         [maxDate]="maxDate"
                         #dp="bsDatepicker"
                         (bsValueChange)="onDateChange($event)"
                         bsDatepicker [(bsValue)]="bsValue">
                  <span class="input-group-addon" (click)="dp.show() ">
                      <i class="fa fa-calendar" aria-hidden="true"></i>
                  </span>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-lg-3 col-md-3" *ngIf="sensorNames.length > 0">
              <div class="form-group">
                <div class="input-group">
                  <input type="text"
                         class="form-control"
                         [minDate]="minDate"
                         [maxDate]="maxDate"
                         #dp1="bsDatepicker"
                         (bsValueChange)="onDateChange($event)"
                         bsDatepicker [(bsValue)]="bsValueTwo">
                  <span class="input-group-addon" (click)="dp1.show() ">
                      <i class="fa fa-calendar" aria-hidden="true"></i>
                  </span>
                </div>
              </div>
            </div>-->

    </div>

    <div class="col-md-6 col-sm-12 col-xs-12">
      <form class="form-horizontal" role="form" *ngIf="sensorNames.length > 0">
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="form-group">
            <label></label>
            <select name="sort" [(ngModel)]="sensorName" class="form-control" (change)="test()">
              <option value="{{sensor.value}}" *ngFor='let sensor of sensorNames'>{{sensor.label}}</option>
            </select>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="form-group">
            <br> <!--need this hack -->
            <button class="btn btn-primary" (click)="addSensor()">Add Sensor</button>
            <button class="btn btn-primary" (click)="print()">Print Chart</button>
            <!--<input type="button" class="btn btn-primary" value="Reset Zoom" (click)="reset('zoom')" />
            <input type="button" class="btn btn-primary" value="Reset Chart" (click)="reset('chart')" />-->
          </div>
        </div>
      </form>
    </div>

      <div class="col-md-12 col-sm-12 col-xs-12 graph-card" *ngIf="sensorNames.length > 0">
        <canvas
          baseChart width="100%" height="100%"
          #baseChart="base-chart"
          [chartType]="'line'"
          [datasets]="chartData"
          [labels]="chartLabels"
          [options]="chartOptions"
          *ngIf="chartData.length > 0"
          [legend]="true">
        </canvas>
      </div>


  </div>
</app-layout>
