<app-layout>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="loader" *ngIf="isLoader"></div>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12" *ngIf="loadPage === true">
      <div class="customer-info-container">
        <div class="customer-name">
          {{accountData?.companyName}}
        </div>
        <div class="customer-address">
          <span>{{accountData?.address}}</span>
          <span *ngIf="accountData?.address2">{{accountData.address2}}</span>
          <span>{{accountData?.city}}</span>
          <span>{{accountData?.state}}</span>
          <span>{{accountData?.postalCode}}</span>
          <span>{{accountData?.country}}</span>
        </div>
        <div class="customer-label">Gateways
          <span class="customer-value">{{accountData?.numGateways}}</span>
        </div>
        <div class="customer-label">Sensors
          <span class="customer-value">{{accountData?.numSensors}}</span>
        </div>
      </div>
    </div>

    <div class="col-md-12 col-sm-12 col-xs-12" *ngIf="loadPage === true">
      <div class="info-container">
        <div class="info-label">Subscription
          <span *ngIf="!isSubscriptionExpired" class="info-value">{{accountData?.subscriptionType}}</span>
          <span *ngIf="isSubscriptionExpired" class="info-value" [ngClass]="{'renewalColor': isSubscriptionExpired}"> Expired</span>
        </div>
        <div class="info-label">{{labelRenewal}}
          <span class="info-value" [ngClass]="{'renewalColor': isSubscriptionExpired}">
                  {{accountData?.subscriptionExpiry | date:'MM-dd-yyyy'}}</span>
        </div>
        <div class="info-label"><span class="info-value">{{accountData?.userFullName}}</span></div>
        <div class="info-label" *ngIf="accountData?.emailAddress">
          <a class="info-value" href="mailto:{{accountData?.emailAddress}}">{{accountData?.emailAddress}}</a>
        </div>
        <div class="info-label">
          <a class="info-value" href="tel:{{accountData?.smsNumber}}"> {{accountData?.smsNumber}}</a>
        </div>

        <div class="info-label card-button" *ngIf="isAdmin">
          <button (click)= "populateAccountEditModal()" class="btn btn-transparent icon-only"
                  data-toggle="modal" data-target="#editAccountModal" tooltip="Edit Account">
            <i class="fa fa-edit"></i></button>
          <a type="button" class="btn btn-transparent icon-only" role="button" [class.btn-disabled]="accountData.numSensors == 0" tooltip="Renew Contract"
             [attr.href]="(accountData.numSensors === 0)? 'javascript:void(0)' : '/payments'"><i class="fa fa-credit-card"></i></a>
        </div>
      </div>
    </div>

    <div>
      <ng-container *ngTemplateOutlet="editAccountTmpl"></ng-container>
    </div>
  </div>

  <div class="tabs_container" *ngIf="loadPage === true">

    <tabs>
      <!-- My Profile -->
      <tab tabTitle="My Profile" class="tab-content">
        <div class="row">
          <div class="col-sm-12">
            <div *ngIf="loadPage === true">
              <ng-container *ngTemplateOutlet="myProfileTmpl"></ng-container>
              <ng-container *ngTemplateOutlet="networkSectionTmpl"></ng-container>

              <div class="paymentHistory-container">
                <app-datatable [rows]="renewalRows" [columns]="renewalColumns" [limit]="limit"></app-datatable>

                <ng-template #prevRenewalDateColTmpl let-row="row" let-value="value">
                  <span>{{value | date:'MM-dd-yyyy'}}</span>
                </ng-template>

                <ng-template #newRenewalDateColTmpl let-row="row" let-value="value">
                  <span>{{value | date:'MM-dd-yyyy'}}</span>
                </ng-template>

                <ng-template #amountColTmpl let-row="row" let-value="value">
                  <span>{{value | currency}}</span>
                </ng-template>

                <ng-template #invoiceColTmpl let-row="row" let-value="value">
                  <span>
                    <a href="{{value}}"><i class="fa fa-download"></i></a>
                  </span>
                </ng-template>
              </div>
            </div>
          </div>
        </div>
      </tab>

      <!-- Users -->
      <tab tabTitle="Users" class="tab-content" [isShow]="isAdmin">
        <div class="row users-container">
          <div class="col-md-12 col-sm-12" *ngIf="isShowUserTable && isAdmin">
            <button class="btn btn-primary" type="button" (click)="addUser()"><i class="fa fa-plus"></i>Add User</button>
          </div>
          <div class="col-md-12 col-sm-12">
            <app-datatable #userTable [rows]="userRows" [columns]="userColumns" [limit]="limit" *ngIf="isShowUserTable"></app-datatable>

            <ng-template #notificationColTmpl let-row="row" let-value="value">
              <div>Email:
                <a href="mailto:{{row.emailAddress}}">{{row.emailAddress}}</a>
              </div>
              <div>SMS:
                <a href="tel:{{row.smsNumber}}">{{row.smsNumber}}</a>
              </div>
            </ng-template>

            <ng-template #isAdminColTmpl let-row="row" let-value="value">
              <input type="checkbox" name="isAdmin" value="value" [attr.checked]="value ? 'checked' : null" disabled>
            </ng-template>

            <ng-template #actionsColTmpl let-row="row">
              <button class="btn btn-xs btn-primary editBTN" type="button" (click)="showEditUserForm(row.userID)">
                <i class="fa fa-edit"></i>Edit
              </button>
              <button class="btn btn-xs btn-primary removeBTN" type="button" (click)="deleteUser(row.userID)">
                <i class="fa fa-trash"></i>Remove
              </button>
            </ng-template>

            <div class="col-sm-12">
              <ng-container *ngTemplateOutlet="userParentSectionTmpl"></ng-container>
            </div>
          </div>
        </div>
      </tab>

      <!-- Notifications -->
      <tab tabTitle="Notifications" class="tab-content">
        <div class="row">
          <div class="col-md-12" *ngIf="accountData">
           <app-user-notifications [accountData]="accountData"></app-user-notifications>
          </div>
        </div>
      </tab>
    </tabs>

  </div>
</app-layout>

<!-- All User Sections -->
<ng-template #userParentSectionTmpl>
  <div class="form-horizontal userParent-container" *ngIf="!isShowUserTable">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <button class="btn btn-primary" [attr.section]="'user-content'" (click)="toggleContent($event)">User Information</button>
        <button class="btn btn-primary" [attr.section]="'network-content'" [disabled]="!isNetworkBtn" (click)="toggleContent($event)">Locations</button>
      </div>
      <div class="col-md-12 col-sm-12">
        <div class="collapse.show" [ngbCollapse]="isUserContentCollapsed">
          <div class="">
            <ng-container *ngTemplateOutlet="addEditUserSectionTmpl"></ng-container>
            <ng-container *ngTemplateOutlet="notificationSectionTmpl"></ng-container>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-sm-12">
        <div class="collapse" [ngbCollapse]="isNetworkContentCollapsed">
          <div class="myNetwork-temp">
            <ng-container *ngTemplateOutlet="networkSectionTmpl"></ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #addEditUserSectionTmpl>
  <div class="userFormGroup-container">
    <div class="row" [formGroup]="userForm">
      <div class="col-md-6 col-sm-12">
        <div class="form-group required">
          <label class="col-sm-12 col-md-6 col-xs-12 col-form-label" for="email-address">Email/User Name</label>
          <div class="col-sm-12 col-md-6 col-xs-12">
            <input type="email" class="form-control" formControlName="dashboardUserName" id="email-address" placeholder="Email Address" [attr.disabled]="isEditForm? '' : null">
            <div *ngIf="dashboardUserName.invalid && (dashboardUserName.touched || dashboardUserName.dirty)" class="alert-error alert-danger">
              <div *ngIf="dashboardUserName.errors.required">Email is required.</div>
              <div *ngIf="dashboardUserName.errors.email">Email is not valid.</div>
            </div>
          </div>
        </div>

        <div class="form-group required">
          <label class="col-sm-12 col-md-6 col-xs-12 col-form-label" for="password">Password</label>
          <div class="col-sm-12 col-md-6 col-xs-12">
            <input type="password" class="form-control" formControlName="dashboardPassword" id="password"
                   placeholder="Password" placement="top" triggers="focus:blur" [ngbPopover]="tooltipTempate" popoverTitle="Password Requirements">
            <div *ngIf="dashboardPassword.invalid && (dashboardPassword.touched || dashboardPassword.dirty)" class="alert-error alert-danger">
              <div *ngIf="dashboardPassword.errors?.required">Password is required.</div>
              <div *ngIf="dashboardPassword.errors.pattern">Password is not valid.</div>
            </div>
          </div>
        </div>

        <div class="form-group required">
          <label class="col-sm-12 col-md-6 col-xs-12 col-form-label" for="confirm-password">Confirm Password</label>
          <div class="col-sm-12 col-md-6 col-xs-12">
            <input type="password" class="form-control" formControlName="confirmPassword" id="confirm-password" placeholder="Confirm password">
            <div *ngIf="confirmPassword.invalid && (confirmPassword.touched || confirmPassword.dirty)" class="alert-error alert-danger">
              <div *ngIf="confirmPassword.errors.required">Confirm password is required.</div>
              <div *ngIf="confirmPassword.errors.pattern">Confirm password is not valid.</div>
              <div *ngIf="confirmPassword.errors.notEquivalent">Password mismatch error.</div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-12">
        <div class="form-group required">
          <label class="col-sm-12 col-md-6 col-xs-12 col-form-label" for="first-name">First Name</label>
          <div class="col-sm-12 col-md-6 col-xs-12">
            <input type="text" class="form-control" formControlName="firstName" id="first-name" placeholder="First Name">
            <div *ngIf="firstName.invalid && (firstName.touched || firstName.dirty)" class="alert-error alert-danger">
              First name is required.
            </div>
          </div>
        </div>

        <div class="form-group required">
          <label class="col-sm-12 col-md-6 col-xs-12 col-form-label" for="last-name">Last Name</label>
          <div class="col-sm-12 col-md-6 col-xs-12">
            <input type="text" class="form-control" formControlName="lastName" id="last-name" placeholder="Last Name">
            <div *ngIf="lastName.invalid && (lastName.touched || lastName.dirty)" class="alert-error alert-danger">
              Last name is required.
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-12 col-md-6 col-xs-12 col-form-label" for="IsAdministrator">Is Administrator</label>
          <div class="col-sm-12 col-md-6 col-xs-12">
            <input type="checkbox" formControlName="isAdmin" id="IsAdministrator" class="form-check-input">
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #notificationSectionTmpl>
  <div class="notificationForm-container">
    <div class="row" [formGroup]="notificationForm">
      <div class="col-md-6 col-sm-12">
        <div class="form-group">
          <label class="col-sm-12 col-md-6 col-xs-12 col-form-label" for="directSMS">Text (SMS) Settings</label>
          <div class="col-sm-12 col-md-6 col-xs-12">
            <select class="form-control" formControlName="directSMS" id="directSMS">
              <option [value]="0">External Provider</option>
              <option [value]="1">Direct Delivery</option>
            </select>
          </div>
        </div>

        <div *ngIf="!isDirectSMS">
          <div class="form-group">
            <label class="col-sm-12 col-md-6 col-xs-12 col-form-label" for="sms-provider">SMS Provider</label>
            <div class="col-sm-12 col-md-6 col-xs-12">
              <select class="form-control" id="sms-provider" name="sms-provider" formControlName="smsCarrierID">
                <option [value]="0">Select One</option>
                <option [value]="1">AT&T SMS</option>
                <option [value]="2">AT&T MMS</option>
                <option [value]="3">Sprint PCS</option>
                <option [value]="4">T-Mobile </option>
                <option [value]="5">Verizon</option>
              </select>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-12 col-md-6 col-xs-12 col-form-label" for="mobile-number">Mobile Number</label>
          <div class="col-sm-12 col-md-6 col-xs-12">
            <input type="text" *ngIf="isDirectSMS" class="form-control country-code" formControlName="countryCode">
            <input type="text" class="form-control" formControlName="smsNumber" id="mobile-number" [ngClass]="{'with-country-code':isDirectSMS}" placeholder="Mobile Number">
            <small class="form-text text-muted" *ngIf="!isDirectSMS">Requires a 10 digit format.</small>
            <small class="form-text text-muted" *ngIf="isDirectSMS">
              <span>Charges will be incured for direct delivery of SMS messages and voice notifications. Phone numbers should be entered in E.164 format. help
                <a data-toggle="collapse" href="#numberFormating" role="button" (click)="scrollPageDown()">
                  Learn about E.164 formatting
                </a>
              </span>
            </small>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="form-group">
          <label class="col-sm-12 col-md-6 col-xs-12 col-form-label" for="email">System Notifications
            <div>
              <small class="form-text text-muted">Notification types enabled for user</small>
            </div>
          </label>
          <div class="col-sm-12 col-md-6 col-xs-12">
            <input type="checkbox" class="form-check-input" id="email" checked="checked" disabled>
            <small class="form-check-input">Email (Required)</small>
          </div>
          <div class="col-sm-12 col-md-6 col-xs-12">
            <input type="checkbox" class="form-check-input" id="text" formControlName="recievesSensorNotificationByText">
            <small class="form-check-input">Text</small>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-12 col-md-6 col-xs-12 col-form-label" for="system-maintenance">System Maintenance Information
            <small class="form-text text-muted">Will be sent to user by</small>
          </label>
          <div class="col-sm-12 col-md-6 col-xs-12">
            <input type="checkbox" class="form-check-input" formControlName="recievesMaintenanceByEmail">
            <small class="form-check-input">Email</small>
          </div>
          <div class="col-sm-12 col-md-6 col-xs-12">
            <input type="checkbox" class="form-check-input" formControlName="recievesMaintenanceByPhone">
            <small class="form-check-input">Text</small>
          </div>
        </div>

        <div class="form-group pull-right">
          <button class="form-control btn btn-info" *ngIf="!isEditForm" (click)="saveUserData()">Save</button>
          <button class="form-control btn btn-info" *ngIf="isEditForm" (click)="updateUserData()">Update</button>
          <button class="form-control btn btn-info" (click)="showUsersTab()">Cancel</button>
        </div>
      </div>

      <div class="collapse col-sm-10" id="numberFormating">
        <div class="card card-body">
          <ng-container *ngTemplateOutlet="numberFormatTmpl"></ng-container>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #networkSectionTmpl>
  <div class="network-container">
    <div class="row" [formGroup]="networkForm" *ngIf="networkList !== null">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="badges" *ngFor="let network of networkList.controls; let i=index">
          <input type="checkbox" class="chk-box form-check-input" [formControl]="network">
          <label class="form-check-input">
            <span class="chkbox-lbl">{{networkData[i].networkName}}</span>
          </label>
        </div>
      </div>

      <div class="col-md-12 col-sm-12 col-xs-12 gap-top" *ngIf="isNetworkBtn">
        <div class="form-group pull-right">
          <button class="form-control btn btn-info" (click)="saveUserNetworkPermssions()">Save Locations</button>
          <button class="form-control btn btn-info" (click)="showUsersTab()">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #editAccountTmpl>
  <div class="modal fade" id="editAccountModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden>&times;</span>
          </button>
          <h4 class="modal-title">Edit Account</h4>
        </div>
        <div class="modal-body account-modal-body">
          <ng-container *ngTemplateOutlet="editAccountFormTmpl"></ng-container>
        </div>
        <div class="modal-footer account-modal-footer">
          <button type="button" class="btn btn-primary addBTN" data-dismiss="modal" (click)="updateAccount()" [ngClass]="{'btn-disable':disableSubmitButton}">
            <i class="fa fa-save"></i>Update Account
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #editAccountFormTmpl>
  <form [formGroup]="editAccountForm" class="form-horizontal form-label-left">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <div class="form-group">
        <label for="companyName" class=" lbl-account control-label col-md-3 col-sm-3 col-xs-12">Account Number</label>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <input type="text" formControlName="accountID" class="form-control" disabled>
        </div>
      </div>
      <div class="form-group">
        <label for="companyName" class="control-label col-md-3 col-sm-3 col-xs-12">Company Name</label>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <input type="text" formControlName="companyName" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label for="companyName" class="control-label col-md-3 col-sm-3 col-xs-12">resellerID</label>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <input type="text" formControlName="resellerID" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label for="timeZone" class="control-label col-md-3 col-sm-3 col-xs-12">Time Zone</label>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <select class="form-control" formControlName="timeZoneID">
            <option value="{{tZ.id}}" *ngFor="let tZ of timeZones">{{tZ.name}}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12">
      <address-form-component (formReady)="addFormControl('address', $event)"
                              (validAddress)="enableSubmit($event)"></address-form-component>
    </div>
  </form>
</ng-template>

<ng-template #myProfileTmpl>
  <div class="myProfile-personalInfoContainer">
    <span class="personal-info fullName">{{responseData?.userFullName}}</span>
    <span class="personal-info username">{{responseData?.userName}}</span>
    <span class="personal-info smsNumber" *ngIf="responseData?.externalSMSProvider">{{responseData?.smsNumber}}
      <span class="smsProvider">({{responseData?.externalSMSProvider}})</span>
    </span>
    <span class="personal-info email">{{responseData?.email}}</span>
  </div>

  <div class="myProfile-settingsContainer">
    <span class="settings-label">Is Administrator:
      <span class="settings-value">
        <input type="checkbox" name="isAdmin" value="responseData?.admin" [attr.checked]="responseData?.admin ? 'checked' : null" disabled>
      </span>
    </span>
    <span class="settings-label">Maintenance Notification:
      <span class="settings-value">
        <span><i class="fa fa-envelope"></i></span>
        <span><i class="fa fa-comment"></i></span>
      </span>
    </span>
    <span class="settings-label">System Notifications:
      <span class="settings-value">
        <span *ngIf="responseData?.recievesMaintenanceByEmail"><i class="fa fa-envelope"></i></span>
        <span *ngIf="responseData?.recievesMaintenanceByPhone"><i class="fa fa-comment"></i></span>
      </span>
    </span>
  </div>
</ng-template>

<ng-template #numberFormatTmpl>
  <small class="form-text text-muted">
    <p>
      This format is the internationally-standardized format for all phone numbers, and it includes all the relevant information
      to route calls and SMS messages globally. E.164 numbers can have a maximum of fifteen digits and are usually written
      as follows: [+][country code][subscriber number including area code]. Phone numbers that are not formatted in E.164
      may work, but it depends on the phone or handset that is being used.
    </p>
    <p>
      For example, to convert a US phone number (999 888 7777) to E.164 format, one would need to add the ‘+’ prefix and the country
      code (which is 1) in front of the number (+1 999 888 7777). In the UK and many other countries internationally, local
      dialing requires the addition of a 0 in front of the subscriber number. However, to use E.164 formatting, this 0 must
      be removed. A number such as 022 3333 4444 in the UK would be formatted as +44 22 3333 4444.
    </p>
  </small>
</ng-template>

<ng-template #tooltipTempate>
  <ul>
    <li>'Password' must be at least 8 characters long.</li>
    <li>Password should contain at least one special character out of !@#$%^&*()</li>
    <li>Password should contain At least one alphabet.</li>
    <li>Password should contain At least one numeric value.</li>
  </ul>
</ng-template>
