@import "../../styles/variables";

.float-right {
  float: right;
}
table {
  tr:first-child {
    td {
      border-top: none;
    }
  }
}
.customer-summary-info {
  .ss-location {
    margin-top: 10px;
    margin-bottom: 50px;

    @media (min-width: $phone-small) and (max-width: $tablet-large) {
      font-size: 0.85em;
      margin-bottom: 30px;
    }
  }
}

.customer-status {
  color:#ffffff;
  font-size: 20px;
}
.customer-subscription, .customer-amount, .customer-status, .customer-renewal {
  font-family: "roboto_thin", "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
  font-size: 1em;
  color: #fff;
  display: inline-block;
  bottom: 0px;
}
.customer-subscription span , .customer-amount>span, .customer-status>span, .customer-renewal>span {
  font-family: "roboto_bold", "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
  font-size: 1.17em;
  color: #00A421;
  padding:10px
}
.sensors-info-container {
  .x_content {
     margin-bottom: 20px;

    @media (min-width: $phone-small) and (max-width: $tablet-large) {
      margin-bottom: 20px;
    }
  }
  .sensor-info-compare {
    display: inline-block;
  }
  .sensors-info-filter {
    float: right;
    form {
      text-align: right;
    }
    @media (min-width: $phone-small) and (max-width: $tablet-large) {
      float: none;
      margin-bottom: 10px;
    }
  }

  @media (min-width: $phone-small) and (max-width: $tablet-large) {
    float: none;
  }
}

.myProfile-personalInfoContainer {
  margin: 30px 0 10px 0;
  color: $colorUI-emerson-black;

  .personal-info {
    display: inline-block;
    font-size: 1.2em;
    //height: 40px;
    padding-right: 10px;
    border-right: 1px solid $colorUI-emerson-black;

    &:last-child {
      padding-right: 0;
      border-right: none;
    }
  }
  .username {
    color: $color-emerson-brand-blue;
  }
  .smsProvider {
    text-transform: uppercase;
  }

  .fullName {}
  .email {}
  .smsNumber {}
}

.myProfile-settingsContainer {
  margin: 30px 0 10px 0;

  .settings-label {
    padding: 0 10px;
    border-right: 1px solid $colorUI-emerson-black;

    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
      border-right: none;
    }

    .settings-value {
      color: $color-emerson-brand-blue;
    }
  }
}

.network-container {
  margin: 30px 0 10px 0;
  color: $colorUI-emerson-black;

  .chkbox-lbl, label {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: $colorUI-emerson-black;
  }
}

.paymentHistory-container {
  margin: 30px 0 10px 0;
  color: $colorUI-emerson-black;
}

.users-container {
  button {
    margin-bottom: 10px;
  }
}

.myNetwork-temp {
  color: $colorUI-emerson-black;

  //.chkbox-lbl, label {
  //  color: $colorUI-emerson-black;
  //}
}

.userFormGroup-container {
  margin: 10px 0;
}

.userParent-container {
  margin: 10px 0;
}

.device-management-container {
  .sensor-actions {
    float: right;
  }
}
