@import "../../styles/variables";

.float-right {
  float: right;
}
table {
  tr:first-child {
    td {
      border-top: none;
    }
  }
}
.customer-summary-info {
  .ss-location {
    margin-top: 10px;
    margin-bottom: 50px;

    @media (min-width: $phone-small) and (max-width: $tablet-large) {
      font-size: 0.85em;
      margin-bottom: 30px;
    }
  }
}

.customer-status {
  color:#ffffff;
  font-size: 20px;
}
.customer-subscription, .customer-amount, .customer-status, .customer-renewal {
  font-family: "roboto_thin", "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
  font-size: 1em;
  color: #fff;
  display: inline-block;
  bottom: 0px;
}
.customer-subscription span , .customer-amount>span, .customer-status>span, .customer-renewal>span {
  font-family: "roboto_bold", "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
  font-size: 1.17em;
  color: #00A421;
  padding:10px
}
.sensors-info-container {
  .x_content {
     margin-bottom: 20px;

    @media (min-width: $phone-small) and (max-width: $tablet-large) {
      margin-bottom: 20px;
    }
  }
  .sensor-info-compare {
    display: inline-block;
  }
  .sensors-info-filter {
    float: right;
    form {
      text-align: right;
    }
    @media (min-width: $phone-small) and (max-width: $tablet-large) {
      float: none;
      margin-bottom: 10px;
    }
  }

  @media (min-width: $phone-small) and (max-width: $tablet-large) {
    float: none;
  }
}

.myProfile-temp {
  font-family: "roboto_thin", "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
  color: $color-white;

  .myProfile-personalInfoContainer {
    background: $color-grey-ultralight;
    border-radius: $border-radius-medium;
    color: $color-black;
    font-size: 1.25em;
    padding: 10px;
    margin: 10px 0;
    width: 50%;
    float: left;

    @media (min-width: $phone-small) and (max-width: $tablet-large) {
      float: none;
      width: 100%;
    }

    .fullName {
      font-size: 2.25em;
    }
    .username {
      font-family: "roboto_regular", "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
      color: $color-counts-green;
    }
    .smsNumber {

    }
    .smsProvider {
      font-size: 1.25rem;
      color: $color-grey-dark;
      text-transform: uppercase;
    }
    .email {

    }
  }

  .myProfile-settingsContainer {
    font-size: 1.25em;
    padding: 0 10px;
    margin: 10px 0;
    width: 50%;
    float: right;

    @media (min-width: $phone-small) and (max-width: $tablet-large) {
      float: none;
      width: 100%;
    }
  }
}

.myNetwork-temp {
  font-family: "roboto_thin", "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
  color: $color-white;

  .network-container {
    height: 200px;
    overflow-y: scroll;
    margin: 10px 0;
    padding: 10px 0;
    border-radius: $border-radius-medium;
    background: $color-grey-ultralight;
  }

  .chkbox-lbl, label {
    font-family: "roboto_thin", "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif !important;;
    color: $color-black;
  }
}

.device-management-container {
  .sensor-actions {
    float: right;
  }
}
// .tab-content {
//   .row {
//     background-color: #ffffff;
//     border-radius: 20px;
//     padding: 20px;
//     margin-top: -5px;
//     border-left: solid 5px  #2a3F54;
//     border-right: solid 5px  #2a3F54;
//   }
// }

a:link, a:visited {
  color: #3498DB;
  cursor:pointer ;
}

a:hover {
  color: #3498DB;
  text-decoration: underline;
  cursor: pointer ;
}

.form-control-static {
  padding-top: 0px;
}

.chkbox-lbl {
  font-family: serif;
}

.chk-box {
  margin-right: 10px;
}

.alert-error {
  padding : 3px;
  font-size: 14px;
}

.renewal-pos {
  left:75%;
}

.lbl-account {
  width:26%;
}

@media (min-width: $phone-small) and (max-width: $tablet-large) {
  .renewal-pos {
    left:9%;
    margin-top:25px;
  }
  .lbl-account {
    width:100%
  }
}

.form-group.required > .lbl-ctrl::after {
  content: "*";
  color:#FF0000;
}
.notif-icons {
  float:left;
  padding-right:10px;
}

.modal-ctrl {
  margin-bottom: 10px;
}
.account-modal-body {
  background-color: #fff;
}
.account-modal-footer {
  border-top: none;
}

.country-code {
   width:20%;
   float:left;
}
.with-country-code {
  width:80%;
}

.renewalColor, .renewalColor span{
  color: #f30e0e;
}

.btn-renew-contract {
  color:#fff !important;
  text-decoration: none !important;
  background-color: #5ad977
}

.btn-disabled:link {
  cursor: not-allowed;
  box-shadow: none;
  opacity: .65;
}

:host {
  /deep/ .popover {
    display: inherit;
    padding: 8px;
    color: black;
  }

  /deep/ .popover-header {
    font-size: medium;
    font-weight: bold;
    text-align: center;
  }
}

