
<div class="login_wrapper onboarding_container">
  <div class="form login_form">
    <section class="login_content">
      <img src="./assets/images/CooperAtkins_Logo.svg" alt="" class="login-logo">

      <user-flow-component [selected]="selectedStep">

      </user-flow-component>

      <div *ngIf="!isValidForm" class="alert alert-danger" ng->
        <span>{{userCreationError || 'Entered form is invalid!!!'}}</span>
      </div>

      <form [formGroup]="userCreateForm" name="form" class="form-horizontal form-label-left font-white" (ngSubmit)="onSubmit()">

        <div class="row">
          <div class="form-group col-md-6 col-xs-12">
            <input type="radio" name="isNewMaster" class=" float-left" formControlName="isNewMaster" [(ngModel)]="userRegisterModel.isNewMaster"
                   value="true" (change)="masterChange($event)" checked="checked"> New Master Account User
          </div>
          <div class="form-group col-md-6 col-xs-12">
            <input type="radio" name="isNewMaster" class=" float-left" formControlName="isNewMaster" [(ngModel)]="userRegisterModel.isNewMaster"
                   value="false" (change)="masterChange($event)"> Link Existing NotifEye Account
          </div>
        </div>

        <div class="form-group m-t-lg row">
          <label class="control-label col-md-4 col-sm-4 col-xs-12">User Name </label>
          <div class="col-md-6 col-sm-6 col-xs-12" style="padding-top: 8px;">
            <span id="username">{{userRegisterModel.email}}</span>
          </div>
        </div>

        <div *ngIf="userRegisterModel.isNewMaster=='true'">
          <div class="form-group row">
            <label class="control-label col-md-4 col-sm-4 col-xs-12">First Name </label>
            <div class="inner-addon col-md-6 col-sm-6 col-xs-12">
              <span class="inner-addon-icon"><i class="fa fa-user"></i></span>
              <input type="text" class="form-control" name="firstName" formControlName="firstName"
                     placeholder="First Name"/>
            </div>
            <div *ngIf="userCreateForm.get('firstName').touched">
              <div class="error" *ngIf="userCreateForm.get('firstName').hasError('required')">First Name is required.</div>
            </div>
          </div>
          <div class="form-group row">
            <label class="control-label col-md-4 col-sm-4 col-xs-12">Last Name </label>
            <div class="inner-addon col-md-6 col-sm-6 col-xs-12">
              <span class="inner-addon-icon"><i class="fa fa-user"></i></span>
              <input type="text" class="form-control" name="lastName" formControlName="lastName"
                     placeholder="Last Name"/>
            </div>
            <div *ngIf="userCreateForm.get('lastName').touched">
              <div class="error" *ngIf="userCreateForm.get('lastName').hasError('required')">Last Name is required.</div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="control-label col-md-4 col-sm-4 col-xs-12">Email </label>
          <div class="inner-addon col-md-6 col-sm-6 col-xs-12">
            <span class="inner-addon-icon"><i class="fa fa-envelope"></i></span>
            <input type="email" class="form-control" name="email" formControlName="email"
                   value="{{userRegisterModel.email}}" readonly="true" placeholder="Email"/>
          </div>
        </div>
        <div class="form-group row">
          <label class="control-label col-md-4 col-sm-4 col-xs-12">Password </label>
          <div class="inner-addon col-md-6 col-sm-6 col-xs-12">
            <span class="inner-addon-icon"><i class="fa fa-key"></i></span>
            <input type="password" class="form-control" name="password" required
                   formControlName="password" required placeholder="Password"/>
          </div>
          <div *ngIf="userCreateForm.get('password').touched">
            <div class="error" *ngIf="userCreateForm.get('password').hasError('required')">Password is required.</div>
          </div>
        </div>
        <div class="form-group row">
          <label class="control-label col-md-4 col-sm-4 col-xs-12">Confirm Password </label>
          <div class="inner-addon col-md-6 col-sm-6 col-xs-12">
            <span class="inner-addon-icon"><i class="fa fa-key"></i></span>
            <input type="password" class="form-control" name="confirmPassword" required
                   formControlName="confirmPassword" required placeholder="Confirm Password"/>
          </div>
          <div *ngIf="userCreateForm.get('confirmPassword').touched">
            <div class="error" *ngIf="userCreateForm.get('confirmPassword').hasError('required')">Confirm Password is required.</div>
          </div>
        </div>

        <div *ngIf="userRegisterModel.isNewMaster=='false'">
          <div class="form-group row">
            <label class="control-label col-md-4 col-sm-4 col-xs-12">NotifEye Username </label>
            <div class="inner-addon col-md-6 col-sm-6 col-xs-12">
              <span class="inner-addon-icon"><i class="fa fa-user"></i></span>
              <input type="text" class="form-control" name="notifEyeUserName"
                     formControlName="notifEyeUsername" required placeholder="NotifEye Username"/>
            </div>
            <div *ngIf="userCreateForm.get('notifEyeUsername').touched">
              <div class="error" *ngIf="userCreateForm.get('notifEyeUsername').hasError('required')">NotifEye Username is required.</div>
            </div>
          </div>
          <div class="form-group row">
            <label class="control-label col-md-4 col-sm-4 col-xs-12">NotifEye Password </label>
            <div class="inner-addon col-md-6 col-sm-6 col-xs-12">
              <span class="inner-addon-icon"><i class="fa fa-key"></i></span>
              <input type="password" class="form-control" name="notifEyePassword"
                     formControlName="notifEyePassword" required placeholder="NotifEye Password"/>
            </div>
            <div *ngIf="userCreateForm.get('notifEyeUsername').touched">
              <div class="error" *ngIf="userCreateForm.get('notifEyeUsername').hasError('required')">NotifEye Password is required.</div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-primary m-l-none pull-right" placement="top" ngbTooltip="Tooltip on top">Continue</button>
        </div>
      </form>
    </section>
  </div>
</div>

<ng-template #tooltipTempate style="margin:0 auto">
  'Password' must be at least 8 characters long.
  Password should contain At least one special case characters
  Password should contain At least one alphabet.
  Password should contain At least one numeric value.
</ng-template>
